<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <fieldset>
    <% if !current_user.has_role?(:participant) %>
      <%= f.input :status, as: :select, collection: Question.status_options, default: Question.status_new %>
    <%end%>

    <%= f.input :subject, input_html: { :class => "span5" } %>
    <%= f.input :content, input_html: { rows: 10, :class => "span5"} %>

    <% if current_user.has_role?(:functionary) %>
      <div class="type-text">
        <%= f.label :dialogue %><br />
        <%= f.check_box :dialogue %>
      </div>
    <%end%>
  </fieldset>
  </div>
    <div class="form-actions">
      <%= f.button :submit, :class => "btn btn-primary" %>
    </div>
<% end %>
