<%= form_for(@question, :html => { :class => "yform columnar"}) do |f| %>
  <% if @question.errors.any? %>
    <div class="warning" id="error_explanation">
      <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>                                    
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :question_id, :value => @question.question_id %>
  <fieldset>
    <div class="type-text">
      <%= f.label :subject %><br />
      <%= f.text_field :subject %>
    </div>
    <div class="type-text">
      <%= f.label :content %><br />
      <%= f.text_area :content %>
    </div>
    <div class="type-button">
      <%= f.submit :class => "submit" %>
    </div>
  </fieldset>
<% end %>
