<%= content_for :sidebar_left do %>
  <div class="well">
    <ul class="nav nav-list">
      <li class="nav-header">Menu</li>
      <li><%= link_to image_tag('icons/comment_edit.png') + ' Edit question', edit_question_path(@question) %></li>
      <% if (@question.status < Question.status_resolved) %>
        <% if can? :resolve, Question %>
          <li><%= link_to image_tag('icons/tick.png') + ' Resolve question', resolve_question_path(@question) %></li>
        <% end %>
        <li><%= link_to image_tag('icons/user.png') + ' Participant profile', participant_path(@question.participant) %></li>
      <% end %>
      <li><%= link_to image_tag('icons/comments.png') + ' All questions', questions_path %></li>
    </ul>

    <br />

    <% if !current_user.has_role?(:participant) %>
      <div class="nav-header">Previous questions by this participant</div>
      <table class="table table-borderless">
        <% @prev_questions.each do |q| %>
          <tr>
            <td><%= link_to image_tag('icons/comment.png') + ' ' + q.subject, q %></td>
          </tr>
        <% end %>
      </table>
    <% end%>
  </div>
<% end %>
