<%= content_for :sidebar_left do %>
  <div class="well">
    <h4><%= image_tag('icons/wrench.png') %> Tools</h4>
    <ul>
      <li><%= link_to image_tag('icons/comment_edit.png') + ' Edit question', edit_question_path(@question) %></li>
      <% if (@question.status < Question.status_resolved) %>
        <li><%= link_to image_tag('icons/tick.png') + ' Resolve question', resolve_question_path(@question) %></li>
        <li><%= link_to image_tag('icons/user.png') + ' Participant profile', participant_path(@question.participant) %></li>
      <% end %>
      <li><%= link_to image_tag('icons/comments.png') + ' All questions', questions_path %></li>
  </div>
<% end %>
