<%= render 'menu_index_nopart' %>

<%= simple_form_for Question.new, :html => {:method => "get"}, :url=> q_status_questions_path do |f| %>
  <div class="form-inputs">
    <h4>Choose status:</h4>
    <%= f.select :status, @statuses, selected: @status %>
    <%= f.button :submit, "Show", :class => "btn btn-primary" %>
  </div>
<%end%>

<dl class="dl-horizontal">
  <dt>Inbox</dt>
  <dd><%= @question_counts[1].to_i + @question_counts[2].to_i %></dd>
  <dt>Answered</dt>
  <dd><%= @question_counts[4].to_i %></dd>
  <dt>Resolved</dt>
  <dd><%= @question_counts[3].to_i %></dd>
</dl>

<fieldset>
  <legend>Questions</legend>
  <table class="table table-bordered table-striped">
    <thead>
      <th>Subject</th>
      <th>Participant</th>
      <th>Country</th>
      <th>Created at</th>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <% @questions.each do |question| %>
      <% p = question.user%>
      <tr>
        <td><%= question.subject %></td>
        <td><%=p.first_name %> <%= p.last_name %></td>
        <td><%= p.profile ? p.profile.country.name : 'N/A' %></td>
        <td><%=question.created_at%></td>
        <td><%=pluralize(question.answers.size, "answer")%></td>
        <td><%= link_to image_tag('icons/comment.png') + ' Comment', question %></td>
        <td><%= link_to image_tag('icons/comment_edit.png') + ' Edit', edit_question_path(question) %></td>
      </tr>
    <%end %>
  </table>
</fieldset>
<%= will_paginate @questions %>

<!--
  <fieldset>
    <legend>Functionaries</legend>
    <table class="table table-bordered table-striped">
      <thead>
        <th>Functionary</th>
        <th>New</th>
        <th>Open</th>
        <th>Resolved</th>
      </thead>
      
    </table>
  </fieldset>
-->