<h1>Questions</h1>
<%= form_for Question.new do |f| %>
  <div class="type-text">
    <%= select_tag(:status, options_from_collection_for_select(@statuses, :id, :name, @status.id)) %>
    <%= f.submit "Show"%>
  </div>
  <br />
<%end%>
 
<table class="full">
  <tr>
    <th>Subject</th>
    <th class="full">Participant</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @questions.each do |question| %>
  <% p = question.participant%>
  <% if p != nil &&  %>
  <tr>
    <td><%if question.question_id != nil%> |_ <%end%> <%= question.subject %></td>
    <td><%=p.first_name %> <%= p.last_name %></td>
    <td><%if question.dialogue == 1%>Dialogue<%end%></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><% if current_user.has_role?(:admin)%><%= link_to 'Delete', follow, :confirm => 'Are you sure?', :method => :delete %><%end%></td>
  </tr>
  <%@followquestions.each do |follow| %>
    <%if follow.question_id == question.id%>
      <tr>
        <td> |_ <%= follow.subject %></td>
        <td><%=follow.participant.first_name %> <%= follow.participant.last_name %></td>
        <td><%if follow.dialogue == 1 %>Dialogue<%end%></td>
        <td><%= link_to 'Show', follow %></td>
        <td><%= link_to 'Edit', edit_question_path(follow) %></td>
        <td><% if current_user.has_role?(:admin)%><%= link_to 'Delete', follow, :confirm => 'Are you sure?', :method => :delete %><%end%></td>
      </tr>    
    <%end%>
  <%end%>
<% end %>
<%end%>
</table>

