<table class="full">
  <tr>
    <th>Subject</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @questions.each do |question| %>
  <tr>
    <td> <%= question.subject %></td>
    <td><%=pluralize(question.answers.size, "answer")%></td>
    <td><%= link_to image_tag('icons/comment.png'), question %></td>
    <td><%= link_to image_tag('icons/comment_edit.png'), edit_question_path(question) %></td>
  </tr>
  <%@followquestions.each do |follow| %>
    <%if follow.question_id == question.id%>
    <tr>
      <td>|_ <%=follow.subject%></td>
      <td><%=pluralize(question.answers.size, "answer")%></td>
      <td><%= link_to image_tag('icons/comments.png'), follow %></td>
      <td><%= link_to image_tag('icons/comment_edit.png'), edit_question_path(follow) %></td>
    </tr>
    <%end%>
  <%end%>
  <%end %>
</table>

<br />
<% content_for :sidebar_left do %>
  <h4><%= image_tag('icons/wrench.png')%> Tools</h4>
  <ul class="vlist">
    <li><%= link_to image_tag('icons/comment_add.png') + ' New Question', new_question_path %></li>
<% end %>
