<h1>Questions</h1>
<table class="full">
  <tr>
    <th>Subject</th>
    <th class="full">Participant</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @questions.each do |question| %>
  <% p = question.participant%>
  <% if p != nil &&  %>
  <tr>
    <td><%if question.question_id != nil%> |_ <%end%> <%= question.subject %></td>
    <td><%=p.first_name %> <%= p.last_name %></td>
    <td><%if question.dialogue == 1%>Dialogue<%end%></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Delete', question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <%@followquestions.each do |follow| %>
    <%if follow.question_id == question.id%>
      <tr>
        <td> |_ <%= follow.subject %></td>
        <td><%=follow.participant.first_name %> <%= follow.participant.last_name %></td>
        <td><%if follow.dialogue == 1 %>Dialogue<%end%></td>
        <td><%= link_to 'Show', follow %></td>
        <td><%= link_to 'Edit', edit_question_path(follow) %></td>
        <td><%= link_to 'Delete', follow, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>    
    <%end%>
  <%end%>
<% end %>
<%end%>
</table>

