<%= render 'menu_index' %>

<%= simple_form_for Question.new, :html => {:method => "get"}, :url=> q_status_questions_path do |f| %>
  <div class="form-inputs">
    <h4>Choose status:</h4>
    <%= f.select :status, @statuses, selected: @status %>
    <%= f.button :submit, "Show", :class => "btn btn-primary" %>
  </div>
<%end%>
<fieldset>
  <legend>Questions</legend>
  <table class="table table-bordered table-striped">
    <thead>
      <th>Subject</th>
      <th class="full">Participant</th>
      <th>Created at</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <% @questions.each do |question| %>
      <% p = question.participant%>
      <tr>
        <td><%= question.subject %></td>
        <td><%=p.first_name %> <%= p.last_name %></td>
        <td><%=question.created_at%></td>
        <td><%if question.dialogue == 1%>Dialogue<%end%></td>
        <td><%=pluralize(question.answers.size, "answer")%></td>
        <td><%= link_to image_tag('icons/comment.png') + ' Comment', question %></td>
        <td><%= link_to image_tag('icons/comment_edit.png') + ' Edit', edit_question_path(question) %></td>
      </tr>
    <%end %>
  </table>
</fieldset>
<%= will_paginate @questions %>

<%if current_user.has_role?(:admin)%>
  <fieldset>
    <legend>Functionaries</legend>
    <table class="table table-bordered table-striped">
      <thead>
        <th>Functionary</th>
        <th>New</th>
        <th>Open</th>
        <th>Resolved</th>
      </thead>
      <%last_id = -1%>
      <% @static.each do |s| %>
        <tr>
          <td><%=s.first_name%> <%=s.last_name%></td>
          <td><%=s.new%></td>
          <td><%=s.opened%></td>
          <td><%=s.resolved%></td>
        </tr>
      <%end%> 
    </table>
  </fieldset>
<%end%>
