<h1>Questions</h1>
<table class="full">
  <tr>
    <th>Subject</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @questions.each do |question| %>
  <tr>
    <td> <%= question.subject %></td>
    <td><%=pluralize(question.answers.size, "answer")%></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
  </tr>
  <%@followquestions.each do |follow| %>
    <%if follow.question_id == question.id%>
    <tr>
      <td>|_ <%=follow.subject%></td>
      <td><%=pluralize(question.answers.size, "answer")%></td>
      <td><%= link_to 'Show', follow %></td>
      <td><%= link_to 'Edit', edit_question_path(follow) %></td>
    </tr>
    <%end%>
  <%end%>
  <%end %>
</table>

<br />
<%= link_to 'New Question', new_question_path %>
