<h1>Question</h1>
<h2><%= @question.subject %></h2>
<p>
<%= raw format(@question.content) %>
</p>
<p>
<p class="info">
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
</p>

<h2>Answers</h2>
<% @answers.each do |answer|%>
  <p><%=raw format(answer.content)%></p>
  <p class="info">Answered by  <%=answer.user.email%> <%= time_ago_in_words(answer.created_at) %> ago</p>
<%end%>
</p>

<%= form_for([@question, @question.answers.build], :html => {:class => "yform full"}) do |f| %>
  <div class="type-text">
    <%= f.label :answer %><br />
    <%= f.text_area :content %>
  </div>
  <div class="type-button">
    <%= f.submit :class => "submit", :value=>"Add message" %>
  </div>
<% end %>
<br />
<% if @question.questions != []%>
<b>There are <%= @question.questions.size %> followup questions<b>
<table>
  <tr>
    <th>
      Subject
    </th>
    <th>
      Date
    </th>
    <th>
    </th>
  </tr>
<% @question.questions.each do |q| %>
  <tr>
    <td>
      <%= q.subject %>
    </td>
    <td>
      <%= q.created_at %>
    </td>
    <td>
      <%= link_to 'Show', q %>
    </td>
  </tr>
<% end %>
<table>
<% end %>
<%if @question.question_id == nil%>
  <%= link_to 'New followup question', :controller=>:questions, :action=>:follow_new, :id => @question.id  %>
<%else%>
  Do you want more followup questions you have to start with a new question<br />
  <%= link_to 'New question', new_question_path %>
<%end%>
</p>
