<%= render 'menu_show' %>

<h2><%= @question.subject %></h2>
<div class="well well-small">
	<p><%= raw format(@question.content) %></p>
	<p><em>Asked by <%= @question.participant.user.full_name %> <%= time_ago_in_words(@question.created_at) %> ago.</em>
</div>

<% if current_user.role == 'admin' or current_user.role == 'functionary' %>
  <p>
  <b><%= "#{@question.participant.user.first_name} #{@question.participant.user.last_name}" %> belongs to the following functionaries</b>
  <ul>
    <li></li>
  </ul>
  </p>
<% end %>

<% @answers.each do |answer|%>
	<div class="well well-small">
		<% if current_user.role == 'functionary' && current_user.id == answer.user_id %>
			<div class="pull-right"><%= link_to 'Edit', edit_answer_path(answer), :class => "btn btn-sm btn-primary" %></div>
		<% end %>
		<p><%=raw format(answer.content)%></p>
		<p><em>Answered by  <%=answer.user.full_name%> <%= time_ago_in_words(answer.created_at) %> ago</em></p>
	</div>
<%end%>

<%= simple_form_for([@question, @question.answers.build]) do |f| %>
  <fieldset>
    <legend>Add correspondence to question</legend>
    <div class="form-inputs">
      <%= f.input :content, label: "Answer", input_html: { rows: 10, :class => "col-md-6" } %>
    </div>
    <%= f.button :submit, "Add message", :class => "btn btn-primary" %>
  </fieldset>
<% end %>
