<% if current_user.role == 'admin' or current_user.role == 'functionary' %>
  <%= render 'menu_show' %>
<% end %>

<ol class="breadcrumb">
  <li><%= link_to 'Dashboard', dashboard_path %></li>
  <li><%= link_to 'Questions', questions_path %></li>
  <li class="active"><%= @question.subject %></li>
</ol>

<h2><%= @question.subject %></h2>

<div class="well well-small">
	<p><%= raw format(@question.content) %></p>
	<p><em>Asked by <%= @question.user.full_name %> <%= time_ago_in_words(@question.created_at) %> ago.</em>
</div>

<% if current_user.role == 'admin' or current_user.role == 'functionary' %>
  <p>
  <b>This question belongs to the following functionary</b>
  <ul>
    <li><%= @question.owner.full_name %></li>
  </ul>
  </p>
<% end %>

<% @answers.each do |answer|%>
	<div class="well well-small">
		<% if current_user.role == 'functionary' && current_user.id == answer.user_id %>
			<div class="pull-right"><%= link_to 'Edit', edit_answer_path(answer), :class => "btn btn-sm btn-primary" %></div>
		<% end %>
		<p><%=raw format(answer.content)%></p>
		<p><em>Answered by  <%=answer.user.full_name%> <%= time_ago_in_words(answer.created_at) %> ago</em></p>
	</div>
<%end%>

<!-- Reply form -->
<%= form_for [@question, @question.answers.build] do |f| %>
  <h2>Add correspondence to question</h2>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, rows: 6, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit nil, class: 'btn btn-success' %>
  </div>
<% end %>
