<p>
<b>Subject:</b>
<%= @question.subject %>
</p>

<p>
<b>Content:</b>
<%= @question.content %>
</p>
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
<p>
<b>Answers:</b><br />
<%= form_for([@question, @question.answers.build], :html => {:class => "yform columnar"}) do |f| %>
  <div class="type-text">
    <%= f.label :answer %><br />
    <%= f.text_area :content %>
  </div>
  <div class="type-button">
    <%= f.submit :class => "submit" %>
  </div>
<% end %>
<br />
<b>Answers:</b>
<% @answers.each do |answer|%> 
  <p><%=answer.content%>
<%end%>
</p>
