<%= content_for :sidebar_left do %>
  <h4><%= image_tag('icons/wrench.png') %> Tools</h4>
  <ul class="vlist">
    <li><%= link_to image_tag('icons/comment_edit.png') + ' Edit question', edit_question_path(@question) %></li>
    <% if (@question.question_status_id < 3) %>
      <li><%= link_to image_tag('icons/tick.png') + ' Resolve question', resolve_question_path(@question) %></li>
    <% end %>
    <li><%= link_to image_tag('icons/comments.png') + ' All questions', questions_path %></li>
<% end %>
<%= content_for :sidebar_right do %>
  <% if !current_user.has_role?(:participant) %>
  <table class="full">
    <th>Previous questions by this participant</th>
    <th></th>
    <% @prev_questions.each do |q| %>
      <tr>
        <td><%= q.subject %></td>
        <td><%= link_to image_tag('icons/comment.png'), q %></td>
      </tr>
    <% end %>
  </table>
  <% end%>
<% end %>


<h2><%= @question.subject %></h2>
<p>
<%= raw format(@question.content) %>
</p>
<p class="info">
  Asked by <%= @question.participant.user.name %> <%= time_ago_in_words(@question.created_at) %> ago.
<p>
<% @answers.each do |answer|%>
  <p><%=raw format(answer.content)%></p>
  <p class="info">Answered by  <%=answer.user.name%> <%= time_ago_in_words(answer.created_at) %> ago</p>
<%end%>
</p>

<%= form_for([@question, @question.answers.build], :html => {:class => "yform full"}) do |f| %>
  <div class="type-text">
    <%= f.label :answer %><br />
    <%= f.text_area :content %>
  </div>
  <div class="type-button">
    <%= f.submit :class => "submit", :value=>"Add message" %>
  </div>
<% end %>
