<%= render 'menu' %>

<div class="pull-right">
  <%= link_to 'Show', @workshop, confirm: 'This will cancel all changes. Are you sure?', method: :get, :class => "btn btn-default" %>
  <%= link_to 'Back', workshops_path, confirm: 'This will cancel all changes. Are you sure?', method: :get , :class => "btn btn-default" %>
</div>

<div class="well">
  <h1><%= "Editing Workshop #{@workshop.id}: #{@workshop.name}" %></h1>
  <%= simple_form_for(@workshop, :html => { :class => "form"}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name, :input_html => { :class => "col-md-6" } %><br>
      <%= f.input :body, :input_html => { :class => "col-md-6", :rows => 10 } %><br>
    </div>
    <div class="form-actions">
      <%= f.button :submit, :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>
