<h1>Workshop participants</h1>
<p>The participants for <%= @workshop.name %> is listed below.</p>
<p><strong>Participants: </strong> <%= @participants.count %></p>
<% content_for :sidebar_left do %>
  <%= render 'menu' %>
<% end %>

<table id="result" class="table table-bordered table-striped tablesorter">

  <thead>
    <tr>
      <th>Name</th>
      <th>Sex</th>
      <th>Country</th>
      <% if can? :show, Participant %>
        <th>Show</th>
      <% end %>
      <% if can? :update_workshop, Participant %>
        <th>Change workshop</th>
      <% end %>
    </tr>
  </thead>

  <% @participants.each do |participant| %>
    <tr>
      <td><%= "#{participant.first_name} #{participant.last_name}" %></td>
      <td><%= participant.sex == 1 ? "Male" : "Female" %></td>
      <td><%= participant.country.name %></td>
      <% if can? :show, Participant %>
        <td><%= link_to 'Show', participant_path(participant.id), class: "btn btn-primary" %></td>
      <% end %>
      <% if can? :update_workshop, Participant %>
        <td><%= link_to 'Change workshop', show_workshop_participant_path(participant.id), class: "btn" %></td>
      <% end %>
    </tr>
  <% end %>

</table>
