<% content_for :sidebar_left do %>
  <h6 class="vlist"><%= image_tag('icons/wrench.png') %> Tools</h6>
  <ul class="vlist">
    <li><%= link_to image_tag('icons/page_white_acrobat') + ' Information brochure', '/workshop/info' + @workshop.id.to_s + '.pdf'%></li>
    <li><%= link_to image_tag('icons/page_white_acrobat') + ' Welcome brochure', '/workshop/welcome' + @workshop.id.to_s + '.pdf'%></li>
    <% if not current_user.is_participant? %>
      <li><%= link_to image_tag('icons/page_white_stack.png') + ' Show all workshops', workshops_path %></li>
    <% end %>
    <% if current_user.has_role?(:admin) %>
      <li><%= link_to image_tag('icons/page_edit.png') + ' Edit workshop', edit_workshop_path(@workshop) %></li>
    <% end %>
  </ul>
<%end%>
<h1>Workshop <%= @workshop.id %>: <%= @workshop.name %></h1>
<p>
  <%= raw format(@workshop.description) %>
</p>
