
<% content_for :breadcrumbs do %>
    <li><%= link_to 'Dashboard', dashboard_path %></li>
    <li><%= link_to 'Hosts',hosts_path %></li>
    <li class="active">Host matching</li>
<% end %>
<h2>Select participant</h2>
<%= form_tag '', method: :get do |f| %>
    <div class="form-group col-md-12">
      <%= text_field_tag :search, params[:search], {placeholder: 'Who are you looking for?', class: 'form-control'} %>
      </div>
    <div class="form-group col-md-6">
      <%= select_tag :only_checked_in, options_for_select([['Show all','0'],['Show only checked in','1']],params[:only_checked_in] || 0), :class => 'form-control' %>
    </div>
    <div class="form-group col-md-6">
      <%= collection_select(:country, :country_id, Country.all, :id, :name, {:prompt => 'Please select country (Optional)', :selected => selected_country},{  :class => 'form-control'}) %>
    </div>
    <% if @match_now %>
        <input type="hidden" name="match_now" value="true" />
    <% end %>
    <div class="form-group col-md-12">
      <%= submit_tag 'Search', class: 'btn btn-primary' %>
    </div>
<% end %>
<table id="participants" class="table">
  <tr>
    <th>Full name</th>
    <th>Gender</th>
    <th>Country</th>
    <th>Gender preference</th>
    <th>Smoker</th>
    <th>Other preferences</th>
  </tr>

  <% @participants.each do |a| %>
      <% puts a.user_id.to_s + " " + a.user.full_name + '\n'  %>
      <tr>
        <% if @match_now %>
            <td><%= link_to a.user.full_name, {:controller => 'participants',:action => 'apply_match', :host_id => @host.id, :participant_id => a.id} , {:method => :put, :confirm => "Do you want to match the current host with this participant?"} %></td>
        <% else %>
            <td><%= link_to a.user.full_name, participant_match_host_path(a.id) %></td>
        <% end %>
        <td><%= int_to_gender(a.user.profile.gender)%></td>
        <td><%= a.user.profile ? a.user.profile.country.name : 'N/A' %></td>
        <td><%= gender_pref_to_friendly(a.user.profile.host_gender_preference) %></td>
        <td><%= bool_to_friendly(a.user.profile.smoke) %></td>
        <td><%= a.user.profile.other_host_preferences %></td>
          </tr>
  <% end %>
</table>

<%= will_paginate(@participants, renderer: BootstrapPagination::Rails) %>
