<%= render 'menu' %>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @information_categories.each do |information_category| %>
  <tr>
    <td><%= information_category.title %></td>
    <td><%= link_to image_tag('icons/folder_go.png') + " Show", information_category %></td>
    <td><%= link_to image_tag('icons/folder_edit.png') + " Edit", edit_information_category_path(information_category) %></td>
    <td><%= link_to image_tag('icons/folder_delete.png') + " Delete", information_category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
