<h1>Welcome, <%= current_user.full_name %>!</h1>

<p>
  Welcome to the participant web for ISFiT 2015! From here you can apply to participate in the festival where you can feel the ISFiT experience.
</p>

<p>
  Deadline for submitting the application is the <strong>30th of September 2014</strong>!
</p>

<% if current_user.profile.motivation_essay.empty? %>
<p>
  <%= link_to '<strong>Motivation essay</strong><br><em>Create motivation essay</em>'.html_safe, applications_edit_motivation_path, class: 'btn btn-warning btn-dashboard' %>
</p>
<% else %>
<p>
  <%= link_to '<strong>Motivation essay</strong><br>You have a complte profile with a motiation essay! <em>Edit motivation essay</em>'.html_safe, applications_edit_motivation_path, class: 'btn btn-success btn-dashboard' %>
</p>
<% end %>

<h2>Workshop application</h2>

<p>
  The workshops are small groups where participants will share their experience, work creatively with and discuss topics related to the overall theme of ISFiT 2015, corruption.
</p>

<p>
  Those who are selected to participate will receive an invitation by e-mail.
</p>

<% if current_user.workshop_application.nil? %>
  <p>
    <%= link_to '<strong>Workshop application</strong><br><em>Create workshop application</em>'.html_safe, new_applications_workshop_path, class: "btn btn-primary btn-dashboard" %>
  </p>
<% else %>
  <p>
    <%= link_to '<strong>Workshop application</strong><br>You have created a workshop application! <em>Edit workshop application</em>'.html_safe, applications_workshop_path, class: "btn btn-success btn-dashboard" %>
  </p>
<% end %>

<h2>Dialogue application</h2>

<p>
  The Dialogue Groups is ISFiTs conflict resolution initiative. ISFiT introduced this type of seminar to create a place for participants from different sides of conflicts to meet on equal grounds for sharing of experiences. Instead of putting the participants on each side of negotiation table much of the learning happens through games and play. The games make grounds for reflection, to analyse and discuss the present situation in the conflict areas.  
</p>

<p>
  This year we welcome students from <strong>Rwanda, Burundi, and South Africa</strong> to apply for the Dialogue Groups.
</p>

<p>
  <%= render 'dialogue_button' %>
</p>
