<div class="pull-right">
<%= link_to 'Edit', edit_profile_path(@profile), :class => "btn" %>
<%= link_to 'Back', profiles_path, :class => "btn" %>
</div>
  <p>
  <b>Address:</b>
  <%= @profile.address %>
  </p>

  <p>
  <b>Postal code:</b>
  <%= @profile.postal_code %>
  </p>

  <p>
  <b>City:</b>
  <%= @profile.city %>
  </p>

  <p>
  <b>Nationality:</b>
  <%= @profile.nationality %>
  </p>

  <p>
  <b>Citizenship:</b>
  <%= @profile.citizenship %>
  </p>

  <p>
  <b>Country:</b>
  <%= @profile.country %>
  </p>

  <p>
  <b>Calling code:</b>
  <%= @profile.calling_code %>
  </p>

  <p>
  <b>Phone:</b>
  <%= @profile.phone %>
  </p>

  <p>
  <b>Date of birth:</b>
  <%= @profile.date_of_birth %>
  </p>

  <p>
  <b>Gender:</b>
  <%= @profile.gender %>
  </p>

  <p>
  <b>Gender specify:</b>
  <%= @profile.gender_specify %>
  </p>

  <p>
  <b>School:</b>
  <%= @profile.school %>
  </p>

  <p>
  <b>Field of study:</b>
  <%= @profile.field_of_study %>
  </p>


