



<article id="worksops-applications-<%= @workshop_application.id %>">
	<div class="row">
	<div class="col-md-9">
	<h1><%= @workshop_application.user.full_name %></h1>

	<dl class="dl-horizontal">
		<dt>Date of birth</dt>
		<dd><%= @workshop_application.user.profile.date_of_birth %></dd>

		<dt>Gender</dt>
		<dd><%= @workshop_application.user.profile.gender%></dd>

		<dt>Nationality</dt>
		<dd><%= @workshop_application.user.profile.nationality %></dd>

		<dt>Citizenship</dt>
		<dd><%= @workshop_application.user.profile.citizenship.name %></dd>
	</dl>

	<dl class="dl-horizontal">
		<dt>University</dt>
		<dd><%= @workshop_application.user.profile.school %></dd>

		<dt>Field of Study</dt>
		<dd><%= @workshop_application.user.profile.field_of_study %></dd>
	</dl>

	<dl class="dl-horizontal">
		<dt>E-mail</dt>
		<dd><%= @workshop_application.user.email %></dd>

		<dt>Phone</dt>
		<dd>
			+<%= @workshop_application.user.profile.calling_code %>
			<%= @workshop_application.user.profile.phone %>
		</dd>

		<dt>Address</dt>
		<dd>
			<%= @workshop_application.user.profile.address %>
			<br>
			<%= @workshop_application.user.profile.postal_code %>
			<br>
			<%= @workshop_application.user.profile.city %>
			<br>
			<%= @workshop_application.user.profile.country.name %>
		</dd>
	</dl>
	

	<dl class="dl-horizontal">
		<dt>Workshop 1</dt>
		<dd>
			<%= @workshop_application.workshop_1.title%></dd>
		<dt>Workshop 2</dt>
		<dd>
			<%= @workshop_application.workshop_2.title%></dd>
		<dt>Workshop 3</dt>
		<dd>
			<%= @workshop_application.workshop_3.title%></dd>
		</dl>
	<dl class="dl-horizontal">
		<dt>Finincial aid</dt>
			<%if @workshop_application.amount.blank?%>
				<dd>0$</dd>
			
			<%else%>
				<dd><%=@workshop_application.amount%>$</dd>
			<%end%>
		
	</dl>

	</div>
	
	<div class="col-md-3">
	<%= link_to 'Back', dialogue_applications_path, :class => "btn btn-default" %><br>
	<% if @workshop_application.profile_grade.blank? %>

	<%else%>  
		<div class="font-size-200">
		<h4>Profile Grade</h4>
		<span class="<%= whichColor(@workshop_application.profile_grade)%>">
		<%= @workshop_application.profile_grade %></span>/10
		<h4>Workshop Grade</h4>
		<span class="<%= whichColor(@workshop_application.workshop_application_grade)%>">
		<%= @workshop_application.workshop_application_grade %></span>/10
	</div>
	<%end%>
</div>
</div>
<div class="row">
	<div class="col-md-offset-2">
	<p>
  	<strong>Motivation essay</strong>
  </p>

  <% if @workshop_application.profile.motivation_essay.blank? %>
		<p><%= @workshop_application.user.full_name %> have no motivation essay...</p>
	<% else %>
		<%= simple_format(@workshop_application.profile.motivation_essay) %>
	<% end %>

	<p>
	<strong>Workshop essay</strong>
	</p>

	<% if @workshop_application.workshop_essay.blank? %>
		<p><%= @workshop_application.user.full_name %> have no workshop essay...</p>
	<% else %>
		<%= simple_format(@workshop_application.workshop_essay) %>
	<% end %>

	<p>

	<strong>Financial aid essay</strong>
	</p>

	<% if @workshop_application.financial_aid_essay.blank? %>
		<p><%= @workshop_application.user.full_name %> have no financial aid essay...</p>
	<% else %>
		<%= simple_format(@workshop_application.financial_aid_essay) %>
	<% end %>



	</div>
	</div>

</article>

