<div class="pull-right">
  <%= link_to 'New Financial aid application', new_financial_aid_application_path, :class => "btn btn-primary"%>
</div>
<h1>financial_aid_applications</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
              <th>Essay</th>
              <th>Amount</th>
              <th>Other sources</th>
              <th>Can come anyway</th>
              <th>User</th>
            <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <% @financial_aid_applications.each do |financial_aid_application| %>
    <tr>
              <td><%= financial_aid_application.essay %></td>
              <td><%= financial_aid_application.amount %></td>
              <td><%= financial_aid_application.other_sources %></td>
              <td><%= financial_aid_application.can_come_anyway %></td>
              <td><%= financial_aid_application.user_id %></td>
            <td><%= link_to 'Show', financial_aid_application, :class => "btn btn-primary" %></td>
      <td><%= link_to 'Edit', edit_financial_aid_application_path(financial_aid_application), :class => "btn" %></td>
      <td><%= link_to 'Destroy', financial_aid_application, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %></td>
    </tr>
    <% end %>
  </table>

