<%= form_for @search  '/search/index' do %>
  <%= search_field_tag 'query' %>
  <%= submit_tag "Search" %>
<% end %>
<h1>We've searched our records and found tucked away in our basement:</h1>
<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>City</th>
    <th>Country</th>
    <th>Workshop</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @participants.each do |participant| %>
    <tr>
      <td><%= participant.first_name %></td>
      <td><%= participant.last_name %></td>
      <td><%= participant.city %></td>
      <td><%= participant.country_id %></td>
      <td><%= participant.workshop %></td>
      <td><%= link_to 'Show', participant %></td>
      <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
      <td><%= link_to 'Destroy', participant, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

