<h2>Change your password</h2>
<%= form_tag(update_password_path, :class => "yform full", :method => "post") do %> 
<%if @user.errors.any?%>
  <div class="warning" id="error_explanation">
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>                                    
      <% end %>
    </ul>
  </div>
<%end%>
  <div class="type-text">
    <%= label_tag(:password) %><br />
    <%= password_field_tag(:password) %>
  </div>

  <div class="type-text">
    <%= label_tag(:password_confirmation) %><br />
    <%= password_field_tag(:password_confirmation) %>
  </div>

  <p> <%= submit_tag("Change password") %></p>
<% end %>

