<div id="article<%= article.id %>">
<% if article.sticky == 1 %>
  <div class="jumbotron">
<% else %>
  <div>
<% end %>
<h1><%= article.title %></h1>
  <%= raw format(article.content) %>
</div>
<% if article.sticky == 0 %>
<p><em>
Written by <%= article.user.name %> <%= time_ago_in_words(article.created_at) %> ago.
</em></p>
<% end %>
</div>

