<%= form_for(@article, :html=>{:class => "yform full"}) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation" class="warning">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>Meta</legend>
    <div class="type-check">
      <%= f.check_box :sticky %>
      <%= f.label :sticky %>
    </div>
    <div class="type-text">
      <%= f.label :publish_at %>
      <%= f.text_field :publish_at, :class => "select-date" %>
    </div>
  </fieldset>
  <fieldset>
    <legend>Public information</legend>
    <div class="type-text">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="type-text">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>
    <div class="type-button">
      <%= f.submit :class => "submit"%>
    </div>
  </fieldset>
<% end %>
<% content_for :sidebar_right do %>
  <%= render "information" %>
<% end %>

