<%= render 'menu' %>
<%= render "information" %>

<table class="table table-striped">
  <thead>
    <th><b>Title</b></th>
    <th><b>Author</b></th>
    <th><b>Sticky?</b></th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.user.name %></td>
      <td><%= article.sticky == 1 ? "yes" : "no" %>
      <td><%= link_to image_tag('icons/page_white_go.png') + ' Show', article %></td>
      <td><%= link_to image_tag('icons/page_white_edit.png') + ' Edit', edit_article_path(article) %></td>
      <td><%= link_to image_tag('icons/page_white_delete.png') + 'Delete', article, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
