<%= render 'menu' %>
<%= render "information" %>

<table class="table table-bordered table-striped">
  <thead>
    <th><b>Title</b></th>
    <th><b>Author</b></th>
    <th><b>Sticky?</b></th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.user.name %></td>
      <td><%= article.sticky == 1 ? "yes" : "no" %>
      <td><%= link_to 'Show', article, :class => "btn btn-primary" %></td>
      <td><%= link_to 'Edit', edit_article_path(article), :class => "btn" %></td>
      <td><%= link_to 'Delete', article, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger" %></td>
    </tr>
  <% end %>
</table>
