<h1>Ready for the ISFiT experience?</h1>

<p>Do you want to take part in one of the workshops or the dialogue group on the ISFiT festival? Start the application process by creating an account!</p>

<%= simple_form_for(@user) do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>

    <p>Names must be a they appear in your passport.</p>

    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>

    <p>Want a strong password? We recommend you to use minimum four random words. Easy to remember, hard for computers to guess.</p>

    <%= f.submit %>
<% end %>