<% content_for :sidebar_left do %>
<ul class="nav nav-list well">
  <li class="nav-header">Menu</li>
  <% if can? :new, Application %>
    <li><%= link_to "Create new applicant", new_application_path %></li>
  <% end %>
  <% if can? :index, Application %>
    <li><%= link_to "View all applicants", applications_path %></li>
  <% end %>
  <% if (can? :grade1, Application) && ControlPanel.first.app_grade1 %>
    <li><%= link_to "Participant grade", grade1_applications_path %></li>
  <% end %>
  <% if (can? :grade2, Application) && ControlPanel.first.app_grade2 %>
    <li><%= link_to "Theme grade", grade2_applications_path %></li>
  <% end %>
  <% if (can? :grade3, Application) && ControlPanel.first.app_grade3 %>
    <li><%= link_to "Final grade", grade3_applications_path %></li>
  <% end %>
  <% if can? :search, Application %>
    <li><%= link_to "Search applicants", search_applications_path %></li>
  <% end %>
  <% if can? :stats, Application %>
    <li><%= link_to "Stats", stats_applications_path %></li>
  <% end %>

<% end %>
