<%= render 'menu' %>
<h1><%= "#{@application.first_name} #{@application.last_name}" %></h1>

<div class="row">
	<div class="col-md-3">
		<h4>Address</h4>
		<address>
		<%= @application.address %><br>
		<%= @application.zipcode %> <%= @application.city %><br>
		<%= @application.country.name %>
		</address>
	</div>
	<div class="col-md-3">
		<h4>Personal information</h4>
		<b>Birthdate:</b> <%= @application.birthdate %><br>
		<b>Sex:</b> <%= @application.sex == "m" ? "Male" : "Female"  %><br>
		<b>University:</b> <%= @application.university %><br>
		<b>Field of study:</b> <%= @application.field_of_study %><br>
	</div>

	<div class="col-md-3">
		<h4>Workshops</h4>
		<b>Workshop 1:</b> <%= Workshop.find_by_id(@application.workshop1).name %><br>
		<b>Workshop 2:</b> <%= Workshop.find_by_id(@application.workshop2).name %><br>
		<b>Workshop 3:</b> <%= Workshop.find_by_id(@application.workshop3).name %>
	</div>
</div>

<h2>General essay</h2>
<%= format @application.essay1 %>

<h2>Workshop essay</h2>
<%= format @application.essay2 %>

