<% content_for :sidebar_left do %>
  <%= render 'menu' %>
<% end %>
<div class="well">
  <h1>Country Stats</h1>
  <p><b>Countries with accepted applications:</b> <%= @stats.count %></p>
  <p>Shows statistics over all accepted participants per country.</p>
  <p>TS = Travel Support</p>

  <table id="result" class="table table-bordered table-striped tablesorter">
    <thead>
      <tr>
        <th>Country</th>
        <th>Male/Female</th>
        <th>Accepted</th>
        <th>Applied for TS</th>
        <th>TS Granted</th>
        <th>TS Amount</th>
        <th>Search</th>
      </tr>
    </thead>
    <tbody>
      <% @stats.each do |country| %>
        <tr>
          <td><%= country.name %></td>
          <td><%= ((country.male.to_f / country.count.to_f)*100).to_i %>%</td>
          <td><%= country.count %></td>
          <td><%= country.apply.to_i %></td>
          <td><%= country.approved.to_i %></td>
          <td><%= country.given %></td>
          <td><%= link_to 'Search', stats_applications_path(:q => {:status_eq => 1, :country_id_eq => country.id}), :method => "POST", :class => "btn btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
