<div class="pull-right">
  <%= link_to 'New Application', new_application_path, :class => "btn btn-primary"%>
</div>
<h1>applications</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Country</th>
      <th>Sex</th>
      <th>Workshop1</th>
      <th>Workshop2</th>
      <th>Workshop3</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <% @applications.each do |application| %>
    <tr>
      <td><%= application.first_name %></td>
      <td><%= application.last_name %></td>
      <td><%= application.country_id %></td>
      <td><%= application.sex %></td>
      <td><%= application.workshop1 %></td>
      <td><%= application.workshop2 %></td>
      <td><%= application.workshop3 %></td>
      <td><%= link_to 'Show', application, :class => "btn-primary btn" %></td>
      <td><%= link_to 'Edit', edit_application_path(application), :class => "btn" %></td>
      <td><%= link_to 'Destroy', application, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %></td>
    </tr>
    <% end %>
  </table>

