<%= render 'menu' %>

<h1>Applications</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Country</th>
      <th>E-mail</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <% @applications.each do |application| %>
    <tr>
      <td><%= application.first_name %></td>
      <td><%= application.last_name %></td>
      <td><%= application.country.name %></td>
      <td><%= application.email %></td>
      <td><%= link_to 'Show', application, :class => "btn btn-info" %></td>
      <td><%= link_to 'Edit', edit_application_path(application), :class => "btn" %></td>
      <td><%= link_to 'Destroy', application, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %></td>
    </tr>
  <% end %>
</table>

