<%= render 'menu' %>

<h1>Search for application</h1>
<p>
  Below there is possible to specify different options for search.
</p>
<%= search_form_for @q, :builder => SimpleForm::FormBuilder, url: stats_applications_path, method: :post do |f| %>
  <%= f.input :country_id_eq, :collection => @countries, :as => :select, 
    :label => "Country", :input_html => { :class => "span4" } %>
  <%= f.input :sex_eq, :as => :radio_buttons, 
    :label => "Sex", :collection => [["female", "f"], ["male", "m"]]  %>
  <%= f.input :workshop1_eq, :collection => @workshops, :as => :select, 
    :label => "Workshop 1", :input_html => { :class => "span4" } %>
  <%= f.input :workshop2_eq, :collection => @workshops, :as => :select, 
    :label => "Workshop 2", :input_html => { :class => "span4" } %>
  <%= f.input :workshop3_eq, :collection => @workshops, :as => :select, 
    :label => "Workshop 3", :input_html => { :class => "span4" } %>
  <% if ControlPanel.first.app_grade3 %>
    <%= f.input :status_eq, :collection => @status, :as => :select, 
      :label => "Status", :input_html => { :class => "span4" } %>
    <%= f.input :final_workshop_eq, :collection => @workshops, :as => :select, 
      :label => "Final workshop", :input_html => { :class => "span4" } %>
    <%= f.input :total_grade_gt, :label => "Total grade(greater than)", 
      :input_html => { :class => "span4" } %>
    <%= f.input :travel_apply_eq, :as => :radio_buttons, 
      :label => "Applied for travel support", :collection => [["Yes", 1], ["No", 0]]  %>
    <%= f.input :travel_nosupport_cancome_eq, :as => :radio_buttons, 
      :label => "Can come without travel support", :collection => [["Yes", 1], ["No", 0]]  %>
<% end %>
  <%= f.submit "Search" %> 
<% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Country</th>
      <th>Sex</th>
      <th>Workshop 1</th>
      <th>Workshop 2</th>
      <th>Workshop 3</th>  
      <th>Options</th>
    </tr>
  </thead>
  <% @applications.each do |application| %>
    <tr>
      <td><%= application.first_name %></td>
      <td><%= application.last_name %></td>
      <td><%= application.country.name %></td>
      <td><%= application.sex == "m" ? "male" : "female" %></td>
      <td><%= Workshop.find_by_id(application.workshop1).name %></td>
      <td><%= Workshop.find_by_id(application.workshop2).name %></td>
      <td><%= Workshop.find_by_id(application.workshop3).name %></td>
      <td><%= link_to 'Show', application_path(application), :class => "btn btn-primary" %></td>
    </tr>
  <% end %>
</table>
