<%= render 'menu' %>

<h1>Search for application</h1>

<%= render 'search_form' %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Country</th>
      <th>Sex</th>
      <th>Workshop 1</th>
      <th>Workshop 2</th>
      <th>Workshop 3</th>  
      <th>Options</th>
    </tr>
  </thead>
  <% @applications.each do |application| %>
    <tr>
      <td><%= application.first_name %></td>
      <td><%= application.last_name %></td>
      <td><%= application.country.name %></td>
      <td><%= application.sex == "m" ? "male" : "female" %></td>
      <td><%= Workshop.find_by_id(application.workshop1).name %></td>
      <td><%= Workshop.find_by_id(application.workshop2).name %></td>
      <td><%= Workshop.find_by_id(application.workshop3).name %></td>
      <td><%= link_to 'Show', application_path(application), :class => "btn btn-primary" %></td>
    </tr>
  <% end %>
</table>
