<%= render 'menu' %>

<%= render 'show' %>

<%= render 'travel' %>

<h2>1st grade</h2>
<b>Grade:</b> <%= @application.grade1 %><br>
<b>Comment:</b><%= format @application.grade1_comment %><br>

<h2>2nd grade</h2>
<b>Grade:</b> <%= @application.grade2 %><br>
<b>Comment:</b> <%= format @application.grade2_comment %><br>

<h2>Application selection</h2>
<%= simple_form_for(@application, :url => save_selection_application_path, :method => "post", :html => { :class => "form" })  do |f| %>
  <%= f.error_notification %>
  <div class="form_inputs">
    <%= f.input :status, :collection => @status, :as => :select, 
      :label => "Status", :input_html => { :class => "col-md-4" } %>
    <%= f.input :selection_comment, :input_html => { :class => "col-md-4", :rows => 5 } %>
 
    Final workshop, travel status and travel support will only be saved for particpants that are accepted.<br>
    <%= f.input :final_workshop, :collection => @workshops, :as => :select, 
      :input_html => { :class => "col-md-4" } %>
    <%= f.input :travel_status, :collection => @travel_status, :as => :select,
      :label => "Travel status", :input_html => { :class => "col-md-4" } %>
    <%= f.input :travel_approved, :as => :boolean, :label => "Travel support granted" %>
    <%= f.input :travel_amount_given , :input_html => { :class => "col-md-4" } %>
    <%= f.input :travel_comment, :input_html => { :class => "col-md-4", :rows => 5 } %>
    <%= f.button :submit, "Set grade", :class => "btn btn-primary" %>
  </div>
<% end %>

