<div class="pull-right">
<%= link_to 'Edit', edit_application_path(@application), :class => "btn" %>
<%= link_to 'Back', applications_path, :class => "btn" %>
</div>
  <p>
  <b>First name:</b>
  <%= @application.first_name %>
  </p>

  <p>
  <b>Last name:</b>
  <%= @application.last_name %>
  </p>

  <p>
  <b>Address:</b>
  <%= @application.address %>
  </p>

  <p>
  <b>Zipcode:</b>
  <%= @application.zipcode %>
  </p>

  <p>
  <b>City:</b>
  <%= @application.city %>
  </p>

  <p>
  <b>Country:</b>
  <%= @application.country_id %>
  </p>

  <p>
  <b>Phone:</b>
  <%= @application.phone %>
  </p>

  <p>
  <b>Email:</b>
  <%= @application.email %>
  </p>

  <p>
  <b>Birthdate:</b>
  <%= @application.birthdate %>
  </p>

  <p>
  <b>Sex:</b>
  <%= @application.sex %>
  </p>

  <p>
  <b>University:</b>
  <%= @application.university %>
  </p>

  <p>
  <b>Field of study:</b>
  <%= @application.field_of_study %>
  </p>

  <p>
  <b>Workshop1:</b>
  <%= @application.workshop1 %>
  </p>

  <p>
  <b>Workshop2:</b>
  <%= @application.workshop2 %>
  </p>

  <p>
  <b>Workshop3:</b>
  <%= @application.workshop3 %>
  </p>

  <p>
  <b>Essay1:</b>
  <%= @application.essay1 %>
  </p>

  <p>
  <b>Essay2:</b>
  <%= @application.essay2 %>
  </p>

  <p>
  <b>Travel apply:</b>
  <%= @application.travel_apply %>
  </p>

  <p>
  <b>Travel essay:</b>
  <%= @application.travel_essay %>
  </p>

  <p>
  <b>Travel amount:</b>
  <%= @application.travel_amount %>
  </p>

  <p>
  <b>Travel nosupport other:</b>
  <%= @application.travel_nosupport_other %>
  </p>

  <p>
  <b>Travel nosupport cancome:</b>
  <%= @application.travel_nosupport_cancome %>
  </p>


