<%= render 'menu' %>

<%= content_for :sidebar_left do %>
  <br>
  <ul class="nav nav-list well">
    <li class="nav-header">Stats menu</li>
    <% if @applications.count > 0 %>
      <li><%= link_to image_tag('icons/server_chart.png') + " Participants stats", "#part-stats" %></li>
      <li><%= link_to image_tag('icons/world.png') + " World map", "#world-map" %></li>
      <li><%= link_to image_tag('icons/table.png') + " Workshop stats", "#workshop-stats" %></li>
      <li><%= link_to image_tag('icons/chart_bar.png') + " Participants grade", "#part-grade" %></li>
      <li><%= link_to image_tag('icons/chart_pie.png') + " Participants gender", "#part-gender" %></li>
      <li><%= link_to image_tag('icons/chart_bar.png') + " Participants age", "#part-age" %></li>
      <li><%= link_to image_tag('icons/page_white_stack.png') + " Results", "#results" %></li>
    <% end %>
  </ul>
<% end %>

<h1>Stats search</h1>

<%= search_form_for @q, :builder => SimpleForm::FormBuilder, url: stats_applications_path, method: :post do |f| %>
  <%= f.input :country_id_eq, :collection => @countries, :as => :select, 
    :label => "Country", :input_html => { :class => "span4" } %>
  <%= f.input :sex_eq, :as => :radio_buttons, 
    :label => "Sex", :collection => [["female", "f"], ["male", "m"]]  %>
  <%= f.input :workshop1_eq, :collection => @workshops, :as => :select, 
    :label => "Workshop 1", :input_html => { :class => "span4" } %>
  <%= f.input :workshop2_eq, :collection => @workshops, :as => :select, 
    :label => "Workshop 2", :input_html => { :class => "span4" } %>
  <%= f.input :workshop3_eq, :collection => @workshops, :as => :select, 
    :label => "Workshop 3", :input_html => { :class => "span4" } %>
  <% if ControlPanel.first.app_grade3 %>
    <%= f.input :status_eq, :collection => @status, :as => :select, 
      :label => "Status", :input_html => { :class => "span4" } %>
    <%= f.input :final_workshop_eq, :collection => @workshops, :as => :select, 
      :label => "Final workshop", :input_html => { :class => "span4" } %>
    <%= f.input :total_grade_gt, :label => "Total grade(greater than)", 
      :input_html => { :class => "span4" } %>
    <%= f.input :travel_apply_eq, :as => :radio_buttons, 
      :label => "Applied for travel support", :collection => [["Yes", 1], ["No", 0]]  %>
    <%= f.input :travel_nosupport_cancome_eq, :as => :radio_buttons, 
      :label => "Can come without travel support", :collection => [["Yes", 1], ["No", 0]]  %>
  <% end %>
  <%= f.submit "Search" %> 
<% end %>

<div id="part-stats"><h2>Participants Stats</h2></div>
<p>
  <b>Applications: </b>
  <%= @applications.count %>
</p>

<% if @applications.count > 0 %>
  <p>
    <b>Travel support needed: </b>
    <%= number_to_currency(@applications.where("travel_amount < 10000 AND travel_amount > 0").sum(:travel_amount), :unit =>"$") %>
  </p>
  <p>
    <b>Applicants that can get support elsewhere: </b>
    <%= ((@applications.where("travel_nosupport_other > 0").count * 100) / @applications.count).to_i %>%
  </p>
  <p>
    <b>Applicants that can come without support: </b>
    <%= ((@applications.where("travel_nosupport_cancome > 0").count * 100) / @applications.count).to_i %>%
  </p>
  <p>
    <b>Different countries: </b>
    <%= @country_count.count %>
  </p>

  <div id="world-map"><h2>World map</h2></div>

  <%= render 'shared/participant_map' %>

  <div id="workshop-stats"><h2>Workshop stats</h2></div>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>1st</th>
        <th>2nd</th>
        <th>3rd</th>
        <th>Final</th>
      </tr>
    </thead>
    <% @workshops.each do |workshop| %>
      <tr>
        <td><%= workshop.name %></td>
        <td><%= @workshop1_count[workshop.number].to_i > 0 ? @workshop1_count[workshop.number] : "0" %></td>
        <td><%= @workshop2_count[workshop.number].to_i > 0 ? @workshop2_count[workshop.number] : "0" %></td>
        <td><%= @workshop3_count[workshop.number].to_i > 0 ? @workshop3_count[workshop.number] : "0" %></td>
        <td><%= @workshop_final_count[workshop.number].to_i > 0 ? @workshop_final_count[workshop.number] : "0" %></td>
      </tr>
    <% end %>
  </table>
  <br />

  <div id="part-grade"><h2>Participants grade</h2></div>
  <%= render 'shared/participant_grade' %>

  <div id="part-gender"><h2>Participants gender</h2></div>
  <%= render 'shared/participant_gender_chart' %>
  
  <div id="part-age"><h2>Participants age</h2></div>
  <%= render 'shared/participant_age' %>

  <div id="results"><h2>Results</h2></div>
  
  A maximum of 30 applications will be listed below.<br>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>1st Workshop</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <% @applications_results.each do |application| %>
      <tr>
        <td><%= "#{application.last_name}, #{application.first_name}" %></td>
        <td><%= application.country.name %></td>
        <td><%= Workshop.find_by_id(application.workshop1).name %></td>
        <td>
          <% if application.status == 0 %>
            <%= image_tag ('icons/information.png') %>
          <% elsif application.status == 1 %>
            <%= image_tag ('icons/accept.png') %>
          <% elsif application.status == 2 %>
            <%= image_tag ('icons/delete.png') %>
          <% elsif application.status == 3 %>
            <%= image_tag ('icons/time.png') %>
          <% end %>
        </td>
        <td>
          <% if ControlPanel.first.app_grade3 %>
            <%= link_to 'Select', selection_application_path(application.id), :class => "btn btn-primary" %>
          <% else %>
            <div class="btn-group">
              <%= link_to 'Show', application, :class => "btn btn-info" %>
              <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Edit', edit_application_path(application) %></li>
                <li><%= link_to 'Destroy', application, confirm: 'Are you sure?', method: :delete %></li>
              </ul>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

<% end %>
