<%= content_for :sidebar_left do %>
  <%= render 'menu' %>
<% end %>

<h1>Workshop stats</h1>
<p>
The table below shows number of applications left to grade in each workshop.
</p>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>1st</th>
      <th>2nd</th>
      <th>3rd</th>
    </tr>
  </thead>
  <% @workshops.each do |workshop| %>
    <tr>
      <td><%= workshop.name %></td>
      <td><%= @workshop1_count[workshop.number].to_i > 0 ? @workshop1_count[workshop.number] : "0" %></td>
      <td><%= @workshop2_count[workshop.number].to_i > 0 ? @workshop2_count[workshop.number] : "0" %></td>
      <td><%= @workshop3_count[workshop.number].to_i > 0 ? @workshop3_count[workshop.number] : "0" %></td>
    </tr>
  <% end %>
</table>

