<h2>Personal information</h2>

<div class="form-group">
    <%= f.label :date_of_birth %><br>
    <%= f.date_select :date_of_birth, start_year: 1955, end_year: 1998 %>
</div>

<div class="checkbox">
    <strong>Gender</strong>

    <p>
        <label><%= f.radio_button :gender, 0 %> Male</label><br>
        <label><%= f.radio_button :gender, 1 %> Female</label><br>
        <label><%= f.radio_button :gender, 2 %> Other</label>
    </p>
</div>

<div class="form-group">
  <%= f.label :nationality_id %>
  <%= f.text_field :nationality, placeholder: 'Your nationality', class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :citizenship_id %><br>
  <%= f.collection_select :citizenship_id, Country.all, :id, :name, {include_blank: true}, {class: 'form-control'} %>
</div>

<h2>Education information</h2>

<div class="form-group">
  <%= f.label :school, 'University' %>
  <%= f.text_field :school, placeholder: 'Your university', class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :field_of_study %>
  <%= f.text_field :field_of_study, placeholder: 'Your field of study', class: 'form-control' %>
</div>

<h2>Contact information</h2>

<div class="form-group">
  <%= f.label :address %>
  <%= f.text_field :address, placeholder: 'Your address', class: 'form-control' %>
</div>

<div class="form-group" style="float: left; width: 150px;">
  <%= f.label :postal_code %>
  <%= f.text_field :postal_code, placeholder: 'Your postal code', class: 'form-control', style: 'border-bottom-right-radius: 0; border-top-right-radius: 0;' %>
</div>

<div class="form-group" style="margin-left: 150px">
    <%= f.label :city %>
    <%= f.text_field :city, placeholder: 'Your city', class: 'form-control', style: 'border-bottom-left-radius: 0; border-top-left-radius: 0; border-left-width: 0;' %>
</div>

<div class="form-group">
  <%= f.label :country_id %><br>
  <%= f.collection_select :country_id, Country.all, :id, :name, {include_blank: true}, {class: 'form-control'} %>
</div>

<div class="form-group">
  <div>
    <%= f.label :phone, 'Phone number' %>
  </div>


  <div class="input-group" style="float: left; width: 120px;">
    <span class="input-group-addon">+</span>
    <%= f.text_field :calling_code, placeholder: 'Dial code', class: 'form-control', style: 'border-bottom-right-radius: 0; border-top-right-radius: 0;' %>
  </div>

  <div style="margin-left: 120px">
    <%= f.text_field :phone, placeholder: 'Your phone number', class: 'form-control', style: 'border-bottom-left-radius: 0; border-top-left-radius: 0; border-left-width: 0;' %>
  </div>
</div>


<% if current_user.role == 'participant' %>
  <h2>Next of kin information</h2>

  <div class="form-group">
    <%= f.label :next_of_kin_address %>
    <%= f.text_field :next_of_kin_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :next_of_kin_phone %>
    <%= f.text_field :next_of_kin_phone, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :next_of_kin_address %>
    <%= f.text_area :next_of_kin_address, html_options = {class: 'form-control', rows: 4} %>
  </div>


  <h2>Diet and allergies</h2>
  
  <p><strong>Dietary law or preference</strong></p>

  <div class="radio">
    <label><%= f.radio_button(:dietary_law, 0) %> No preference</label>
  </div>
  <div class="radio">
    <label><%= f.radio_button(:dietary_law, 1) %> Halal *</label>
  </div>
  <div class="radio">
    <label><%= f.radio_button(:dietary_law, 2) %> Kosher *</label>
  </div>
  <div class="radio">
    <label><%= f.radio_button(:dietary_law, 3) %> Vegetarian</label>
  </div>

  <p class="text-muted">* Due to limited availability of kosher and halal food in Norway, you will be served a pescetarian diet (combination of fish and vegetarian dishes).</p>

  <div class="form-group">
    <%= f.label :other_diet_preferences %>
    <%= f.text_field :other_diet_preferences, class: 'form-control' %>
  </div>

  <p><strong>Allergies</strong></p>
  
  <div class="checkbox">
    <label><%= f.check_box :allergy_animals %> Animals</label>
  </div>
  <div class="checkbox">
    <label><%= f.check_box :allergy_gluten %> Gluten</label>
  </div>
  <div class="checkbox">
    <label><%= f.check_box :allergy_lactose %> Lactose</label>
  </div>
  <div class="checkbox">
    <label><%= f.check_box :allergy_nuts %> Nuts</label>
  </div>

  <div class="form-group">
    <%= f.label :other_allergies %>
    <%= f.text_field :other_allergies, class: 'form-control' %>
  </div>


  <h2>Accommodation preferences</h2>

  <p><strong>Gender preference of host</strong></p>

  <div class="radio">
    <label><%= f.radio_button :host_gender_preference, 0 %> No preference</label>
  </div>
  <div class="radio">
    <label><%= f.radio_button :host_gender_preference, 1 %> Preferably not men</label>
  </div>
  <div class="radio">
    <label><%= f.radio_button :host_gender_preference, 2 %> Preferably not women</label>
  </div>

  <div class="checkbox">
    <label><%= f.check_box :smoke %> I'm a smoker</label>
  </div>
  <div class="checkbox">
    <label><%= f.check_box :handicap %> I have a handicap</label>
  </div>

  <div class="form-group">
    <%= f.label :other_host_preferences %>
    <%= f.text_field :other_host_preferences, class: 'form-control' %>
  </div>
<% end %>