<%= render 'settings/sidebar_left' %>

<h1>Create a profile</h1>

<p>Hello,</p>

<p>It's fantastic to see that you have created a user, but we need to know you better before you can send in an application. So please fill your profile.</p>

<% if @profile.errors.full_messages.any? %>
<div class="bg-danger info-box">
  <h2><%= pluralize(@profile.errors.full_messages.count, 'error') %> prevents you from creating a profile</h2>

  <ul>
    <% @profile.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for @profile, url: settings_profile_path(@user) do |f| %>
  <%= render 'form', {f: f} %>
  
  <div>
    <%= f.submit class: 'btn btn-success btn-lg' %>
  </div>
<% end %>