<% content_for :sidebar_left do %>
<ul class="nav nav-list well">
  <% if can? :create, InformationPage %>
    <li class="nav-header">Tools</li>
    <li><%= link_to image_tag('icons/report_add.png') + ' New Information page', new_information_page_path %></li>
    <li><%= link_to image_tag('icons/folder.png') + ' Information categories', information_categories_path %></li>
  <% end %>
  <li class="nav-header">Navigation</li>
  <% InformationCategory.all.each do |c| %>
    <% if can? :edit, InformationCategory %>
      <li><%= link_to(image_tag('icons/folder.png') + ' ' + c.title, information_category_path(c)) %></li>
    <% else %>
      <li><%= image_tag('icons/folder.png') + ' ' + c.title %></li>
    <% end %>
    <ul class="nav nav-list">
      <% c.information_pages.each do |i| %>
        <li><%= link_to(image_tag('icons/report.png') + ' ' + i.title, information_page_path(i)) %></li>
      <%end%>
    </ul>
  <%end%>
</ul>
<% end %>
