<% content_for :sidebar_left do %>
  <h6 class="vlist">Navigation</h6>
  <ul class="vlist">
  <% InformationCategory.all.each do |c| %>
    <li><%= c.title %></li>
    <ul>
      <% c.information_pages.each do |i| %>
        <li><%= link_to i.title, information_page_path(i) %></li>
      <%end%>
    </ul>
  <%end%>
</ul>
<% end %>
<% content_for :sidebar_right do %>
  <% render "information" %>
<% end %>


<h1>Listing information pages</h1>

<table class="full">
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Information category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @information_pages.each do |information_page| %>
  <tr>
    <td><%= information_page.title %></td>
    <td><%= information_page.user.name %></td>
    <td><%= information_page.information_category.title %></td>
    <td><%= link_to 'Show', information_page %></td>
    <td><%= link_to 'Edit', edit_information_page_path(information_page) %></td>
    <td><%= link_to 'Destroy', information_page, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Information page', new_information_page_path %> | <%= link_to 'Information categories', information_categories_path %>
