<% if can? :edit, InformationPage %>
  <div class="pull-right">
    <%= link_to 'Edit', edit_information_page_path(@information_page), class: "btn btn-default" %>
    <%= link_to 'Index', information_pages_path, class: "btn btn-primary" %>
  </div>
<% end %>
<%= render 'menu' %>

<h1><%= @information_page.title %></h1>
<p>
<%= raw format(@information_page.content) %>
</p>

<p><em>
  Posted by <%= @information_page.user.name %> <%= time_ago_in_words(@information_page.created_at) %> ago.
</em></p>
