<% render 'sidebar' %>
<% content_for :breadcrumbs do %>
    <li><%= link_to 'Dashboard', dashboard_path %></li>
    <li class="active">Hosts</li>
<% end %>
<table id="hosts" class="table">
  <tr>
    <th>Full name</th>
    <th>Country</th>
    <th>Workshop</th>
  </tr>

  <% @hosts.each do |a| %>
      <tr>
        <td><%= link_to a.firstname, a %></td>
        <td><%= a.firstname %></td>
        <td><%= a.firstname %></td>
      </tr>
  <% end %>
</table>

<%= will_paginate(@hosts, renderer: BootstrapPagination::Rails) %>
