<% content_for :sidebar_left do %>
  <ul class="nav nav-list well">
    <li class="nav-header">Problems?</li>
    <li>Call Dag-Inge: 92491526</li>
    <li class="nav-header"># Checked in participants</li>
    <li><%= Participant.where("checked_in IS NOT NULL").count %> participants checked in</li>
    <li><%= Participant.where("host_id IS NOT NULL").count %> participants matched with hosts<li>
  </ul>
<% end %>

<%= search_form_for @q, :builder => SimpleForm::FormBuilder, url: hosts_path, method: :post, :html => { :class => "form-horizontal" } do |f| %>
  <fieldset>
    <legend>Search hosts</legend>
    <%= f.input :first_name_cont, :label => "First name", :input_html => { :class => "col-md-4" }, required: false %>
    <%= f.input :last_name_cont, :label => "Last name", :input_html => { :class => "col-md-4" }, required: false %>
    <div class="form-group string optional">
      <%= label_tag 'has_free_beds', "Has free beds", :class => "string optional control-label" %>
      <div class="controls">
        <%= check_box_tag :has_free_beds, "selected", (not params[:has_free_beds].nil?) %>
      </div>
    </div>
    <!--%= f.input :student_eq, label: "Student?", as: :select, collection: [["True", true], ["False", false]], required: false %-->
    <!--%= f.input :student_null, label: "Student not registered", as: :boolean, required: false %-->

    <%= f.submit 'search', :class => "btn btn-primary" %>
  </fieldset>
<% end %>

<legend><small>Found <%= pluralize @hosts.total_entries, "host"%></small></legend>
<table class="table table-striped table-condensed table-hover">
  <thead>
    <th>First name</th>
    <th>Last name</th>
    <th>Participants</th>
    <th>Show</th>
  </thead>

  <% @hosts.each do |host| %>
    <tr>
      <td><%= host.first_name %></td>
      <td><%= host.last_name %></td>
      <td><%= host.participants.count %>/<%= host.number %></td>
      <td><%= link_to image_tag('icons/user_go.png', :title=>"Show host"), host %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @hosts, :params => {:q=>params[:q], :has_free_beds=>params[:has_free_beds]} %>
