<% content_for :breadcrumbs do %>
  <li><%= link_to 'Dashboard', dashboard_path %></li>
  <li><%= link_to 'Hosts', hosts_path %></li>
  <li class="active"><%= @host.firstname + ' ' + @host.lastname %></li>
<% end %>


  <h1><%= @host.firstname + ' ' + @host.lastname %></h1>

<p><b>Name: </b><%= @host.firstname %> <%= @host.lastname %> </p>
<p><b>E-mail: </b><%= @host.email %> </p>
<p><b>Phone: </b><%= @host.phone %> </p>
<p><b>Address: </b><%= @host.address %>, <%= @host.zipcode %>, <%= @host.city %></p>
<p><b>Has been host previously: </b>
  <% if @host.beenhost %>
      Yes
  <% else %>
      No
  <% end %></p>

<p><b>Is student: </b>
  <% if @host.isstudent %>
      Yes
  <% else %>
      No
  <% end %></p>

<p><b>Can host an extra day: </b>
  <% if @host.extraday %>
      Yes
  <% else %>
      No
  <% end %></p>

<p><b>Has animals: </b>
  <% if @host.animales %>
      Yes
  <% else %>
      No
  <% end %></p>
<p><b>Sleeping arrangements:</b>
  <% if @host.sleeping.eql? 0 %>
      Couch
  <% elsif @host.sleeping.eql? 1 %>
      Bed
  <% else %>
      Needs to borrow mattress
  <% end %></p>

<p><b>Capacity: </b><%= @host.capacity %> </p>
<p><b>Gender preference:</b>
  <% if @host.sex.eql? 0 %>
        No preference
  <% elsif @host.sex.eql? 1 %>
      Female
  <% else %>
      Male
  <% end %></p>
<p><b>Comment: </b><%= @host.comments %> </p>

<h2>Participant(s)</h2>
<% @host.participants.each do |p| %>
    <h3><%= p.user.first_name + ' ' + p.user.last_name %></h3>
<% end %>