<% content_for :sidebar_left do %>
  <ul class="nav nav-list well">
    <li class="nav-header"><%= image_tag('icons/wrench.png') %> Tools</li>
    <li><%= link_to image_tag('icons/house.png') + ' Show all', hosts_path %></li>

    <li class="nav-header">Information</li>
    <li><b><%= Host.all.inject(0) {|sum,host| sum + host.number_left } %></b> free beds.</li>
    <li><b><%= Participant.where(:host_id => nil).where("checked_in IS NOT NULL").count %></b> unmatched participants.</li>

    <li class="nav-header">Problems?</li>
    <li>Call Dag-Inge: 92491526</li>
  </ul>


  <% form_for (@search_participant.nil? ? Participant.new : @search_participant), :url => { :action => "show" },
    :html => {:method => "get", :class => "search"} do |f| %>
      <ul class="vlist">
        <%unless ( @search_participant.nil? )%>
          <%unless @search_participant.country.nil? %>
            <li><b>Country: </b></li><li><%= collection_select(:participant, :country_id, Country.all, :id, :name, {:prompt => "Select a country", :selected=>@search_participant.country_id.to_s}) %></li>
          <% else %>
            <li><b>Country: </b></li><li><%= collection_select(:participant, :country_id, Country.all, :id, :name, {:prompt => "Select a country"}) %></li>
          <% end %>
        <% else %>
          <li><b>Country: </b></li><li><%= collection_select(:participant, :country_id, Country.all, :id, :name, {:prompt => "Select a country"}) %></li>
        <%end%>
        <li><b>Search on vegetarian?: </b></li><li><%= f.check_box :vegetarian %></li>
        <li><b>Search on smoker?: </b></li><li><%= f.check_box :smoke %></li>

    </ul></ul>

    <br />
    <%= f.submit 'Search' %><br>
  <% end %>
<% end %>



<h1><%=@host.first_name + " " + @host.last_name%></h1>
<table border="0" cellspacing="5" cellpadding="5" style="text-align: left">
	<tr>
		<th>Number of participants:</th>
                <td><%=@host.participants.count%>/<%=@host.number%> <%= link_to image_tag('icons/add.png'), add_bed_host_path(@host) %> <%= link_to image_tag('icons/delete.png'), remove_bed_host_path(@host) %> </td>
	</tr>	
	<tr>
		<th>E-mail</th>
		<td><%=@host.email%></td>
	</tr>	
	<tr>
		<th>Phone</th>
		<td><%=@host.phone%></td>
	</tr>	
	<tr>
		<th>Address</th>
		<td><%=@host.address%></td>
	</tr>	
	<tr>
		<th>Zip Code</th>
		<td><%=@host.zipcode%></td>
	</tr>	
	<tr>
		<th>Place</th>
		<td><%=@host.place%></td>
	</tr>
  <tr>
    <th>Student?</th>
    <td><%= @host.student %></td>
  </tr>
</table>


<h3>Selected participants</h3>
Selected <%= pluralize @host.participants.size, "participant"%> 
<table class="table table-condensed table-striped">
  <thead>
    <th>First name</th>
    <th>Last name</th>
    <th>Sex</th>
    <th>Country</th>
    <th>Workshop</th>
    <th></th>
    <th></th>
  </thead>

<% @host.participants.each do |p| %>
  <tr>
    <td><%= p.first_name %></td>
    <td><%= p.last_name %></td>
    <td><%= (p.sex == 1) ? "M" : "F" %></td>
    <td><%= p.country.name %></td>
    <td><%= p.workshop_id %></td>
    <td><%= link_to image_tag('icons/user_go.png',:title=>"Show profile"), participant_path(p), :target => "_blank" %></td>
    <td><%= link_to image_tag('icons/cart_remove.png',:title=>"Remove participant from host"), :remove_participant_id => p.id %></td>
  </tr>
<% end %>
</table>


<%= search_form_for @q, :builder => SimpleForm::FormBuilder, url: host_path(@host), method: :post, :html => { :class => "form-horizontal" } do |f| %>
  <fieldset>
    <legend>Search participants</legend>
    <%= f.input :country_id_eq, :label => "Country", as: :select, collection: Country.all.collect { |c| [c.name, c.id] }, required: false, :input_html => { :class => "span4" } %>
    <%= f.input :invited_eq, label: "Sex", as: :select, collection: [["Male", true], ["Female", false]], required: false %>
    <%= f.input :smoke_eq, label: "Prefers non-smoking", as: :select, required: false %>

    <div class="form-actions">
      <%= f.submit 'search', :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>

<h3>Possible participants</h3>
<%if @showall%><b>Couldn't find any matches, shows all, choose with care!</b><%end%>
Found <%= pluralize @participants.total_entries, "participant"%>
<table class="table table-condensed table-striped">
  <thead>
    <th>First name</th>
    <th>Last name</th>
    <th>Sex</th>
    <th>Country</th>
    <th>Workshop</th>
    <th>Vis</th>
    <th>Kjøp</th>
  </thead>

<% @participants.each do |p| %>
  <tr>
    <td><%= p.first_name %></td>
    <td><%= p.last_name %></td>
    <td><%= (p.sex == 1) ? "M" : "F" %></td>
    <td><%= p.country.name %></td>
    <td><%= p.workshop_id %></td>
    <td><%= link_to image_tag('icons/user_go.png',:title=>"Show profile"), participant_path(p), :target => "_blank" %></td>
    <td><%= link_to image_tag('icons/cart_add.png', :title=>"Add participant to host"), :participant_id => p.id %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @participants, :params => {:q=>params[:q]} %>
