<% content_for :sidebar_left do %>
  <ul class="nav nav-list well">
    <li class="nav-header"><%= image_tag('icons/wrench.png') %> Tools</li>
    <li><%= link_to image_tag('icons/house.png') + ' Show all', hosts_path %></li>

    <li class="nav-header">Information</li>
    <li><b><%= Host.all.inject(0) {|sum,host| sum + host.number_left } %></b> free beds.</li>
    <li><b><%= Participant.where(:host_id => nil).where("checked_in IS NOT NULL").count %></b> unmatched participants.</li>

    <li class="nav-header">Problems?</li>
    <li>Call Dag-Inge: 92491526</li>
  </ul>
<% end %>


<h1><%=@host.first_name + " " + @host.last_name%></h1>

<legend>Info</legend>
<table class="table table-borderless table-hover table-striped table-condensed">
	<tr>
		<th>Number of participants:</th>
    <td><%=@host.participants.count%>/<%=@host.number%><%= link_to image_tag('icons/add.png'), add_bed_host_path(@host) %> <%= link_to image_tag('icons/delete.png'), remove_bed_host_path(@host) %> </td>
	</tr>	
	<tr>
		<th>E-mail</th>
		<td><%=@host.email%></td>
	</tr>	
	<tr>
		<th>Phone</th>
		<td><%=@host.phone%></td>
	</tr>	
	<tr>
		<th>Address</th>
		<td><%=@host.address%></td>
	</tr>	
	<tr>
		<th>Zip Code</th>
		<td><%=@host.zipcode%></td>
	</tr>	
	<tr>
		<th>Place</th>
		<td><%=@host.place%></td>
	</tr>
  <tr>
    <th>Student?</th>
    <td><%= @host.student %></td>
  </tr>
</table>


<legend>Selected participants</legend>
Selected <%= pluralize @host.participants.size, "participant"%> 
<table class="table table-borderless table-condensed table-striped">
  <thead>
    <th>First name</th>
    <th>Last name</th>
    <th>Sex</th>
    <th>Country</th>
    <th>Workshop</th>
    <th></th>
    <th></th>
  </thead>

<% @host.participants.each do |p| %>
  <tr>
    <td><%= p.first_name %></td>
    <td><%= p.last_name %></td>
    <td><%= (p.sex == 1) ? "M" : "F" %></td>
    <td><%= p.country.name %></td>
    <td><%= p.workshop_id %></td>
    <td><%= link_to image_tag('icons/user_go.png',:title=>"Show profile"), participant_path(p) %></td>
    <td><%= link_to image_tag('icons/cart_remove.png',:title=>"Remove participant from host"), remove_host_participant_path(id: p.id, host_id: @host.id), method: :post %></td>
  </tr>
<% end %>
</table>


<%= search_form_for @q, :builder => SimpleForm::FormBuilder, url: host_path(@host), method: :post, :html => { :class => "form-horizontal" } do |f| %>
  <fieldset>
    <legend>Search participants</legend>
    <%= f.input :first_name_cont, :label => "First name", :input_html => { :class => "span4" }, required: false %>
    <%= f.input :last_name_cont, :label => "Last name", :input_html => { :class => "span4" }, required: false %>
    <%= f.input :country_id_eq, :label => "Country", as: :select, collection: Country.all.collect { |c| [c.name, c.id] }, required: false, :input_html => { :class => "span4" } %>
    <%= f.input :invited_eq, label: "Sex", as: :select, collection: [["Male", true], ["Female", false]], required: false %>
    <%= f.input :smoke_eq, label: "Prefers non-smoking", as: :select, required: false %>
    <%= f.input :vegetarian_eq, label: "Vegetarian", as: :select, required: false %>

    <div class="form-actions">
      <%= f.submit 'search', :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>

<legend>Possible participants</legend>

Found <%= pluralize @participants_count, "participant" %>
<table class="table table-condensed table-striped table-borderless table-hover">
  <thead>
    <th>First name</th>
    <th>Last name</th>
    <th>Sex</th>
    <th>Country</th>
    <th>Workshop</th>
    <th>Show</th>
    <th>Choose</th>
  </thead>

<% @participants.each do |p| %>
  <tr>
    <td><%= p.first_name %></td>
    <td><%= p.last_name %></td>
    <td><%= (p.sex == 1) ? "M" : "F" %></td>
    <td><%= p.country.name %></td>
    <td><%= p.workshop_id %></td>
    <td><%= link_to image_tag('icons/user_go.png',:title=>"Show profile"), match_participant_path(p) %></td>
    <td><%= link_to image_tag('icons/cart_add.png', :title=>"Add participant to host"), add_host_path(id: p.id, host_id: @host.id), method: :post %></td>
  </tr>
<% end %>
</table>
