<%= simple_form_for(@participant,:html => {:class => "form"} ) do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <legend>Private information</legend>
    <% if current_user.has_role?(:admin) or current_user.has_role?(:functionary) %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
    <% end %>
    <%= f.input :sex, :as => :radio_buttons,
      :collection => [["female", 0], ["male", 1]] %>  
    <%= f.input :date_of_birth, :as => :date, :start_year => Date.today.year - 100,
      :end_year => Date.today.year - 17, :order =>  [:year, :month, :day], 
      :input_html => { :class => "span2" } %>
    <%= f.input :field_of_study %>
    <%= f.input :email %>
    <%= f.input :address1, :label => "Address" %>
    <%= f.input :zipcode %>
    <%= f.input :city %>
    <%= f.input :country_id, :as => :select, :collection => Country.all, :label => "Country were you live" %>
    <%= f.input :country_citizen_id, :as => :select, :collection => Country.all, :label => "Country of citizenship" %>
    <%= f.input :nationality %>

  </fieldset>

  <fieldset>
    <legend>Next of kin</legend>
    <div class="alert alert-info">
      Your next of kin is contacted in case of emergency 
    </div>
    <%= f.input :next_of_kin_name %>
    <%= f.input :next_of_kin_phone %>
    <%= f.input :next_of_kin_address, :input_html => { :rows => 4 } %>
  </fieldset>

  <fieldset>
    <legend>Food and allergies</legend>
    <%= f.input :vegetarian %>
    <%= f.input :halal, :label => "Halal food" %>
    <div class="alert alert-info">
      Below some allergies are listed. Please check whatever allergies you might have, or specify important allergies not listed here in the "other" box
    </div>
      <%= f.input :allergy_lactose %>
      <%= f.input :allergy_gluten %>
      <%= f.input :allergy_nuts %>
      <%= f.input :allergy_pets %>
      <%= f.input :allergy_other %>
  </fieldset>

  <fieldset>
    <legend>Host information</legend>
    <div class="alert alert-info">
      Below some preferences in hosts are listed
    </div>
    <%= f.input :smoke, :label => "I prefer non-smoking" %>
      <div class="alert alert-info">
        Please list handicaps ISFiT must consider when choosing your host.
      </div>
      <%= f.input :handicap %>
  </fieldset>
  
  <fieldset>
    <legend>ISFiT related information</legend>
    <%= f.input :media_consent, :label => "I agree to be contacted by the norwegian media prior to and during ISFiT 2011" %>
  </fieldset>

  <% if current_user.has_role?(:admin) %>
    <fieldset>
      <legend>Deadline Information</legend>
      <%= f.input :accepted, :as => :radio_buttons, :collection => [["Yes", 1], ["No", 0]], :label =>  "Accepted invitation to ISFiT." %>
      <%= f.input :applied_for_visa, :as => :radio_buttons, :collection => [["Yes", 1], ["No", 0], ["Do not need", -1]] %>
      <%= f.input :embassy_confirmation, :as => :boolean %>
      <%= f.input :need_transport, :label => "Transportation by ISFiT from Oslo to Trondheim?",
                  :as => :radio_buttons, :collection => [["Oslo-Trondheim-Oslo", 3], ["Oslo-Trondheim", 2], ["Trondheim-Oslo", 1], ["No", 0]] %>
    </fieldset>
  <% end %>

    <%= f.button :submit %>
<% end %>
