<%= simple_form_for(@participant,:html => {:class => "form"} ) do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <legend>Private information</legend>
    <% if current_user.has_role?(:admin) %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
    <% end %>
    <%= f.input :sex, :as => :radio_buttons,
      :collection => [["female", 0], ["male", 1]] %>  
    <%= f.input :date_of_birth, :as => :date, :start_year => Date.today.year - 100,
      :end_year => Date.today.year - 17, :order =>  [:year, :month, :day], 
      :input_html => { :class => "span2" } %>
    <%= f.input :field_of_study %>
    <%= f.input :email %>
    <%= f.input :address1 %>
    <%= f.input :zipcode %>
    <%= f.input :city %>
  </fieldset>

  <fieldset>
    <legend>Next of kin</legend>
    <div class="alert alert-info">
      Your next of kin is contacted in case of emergency 
    </div>
    <%= f.input :next_of_kin_name %>
    <%= f.input :next_of_kin_phone %>
    <%= f.input :next_of_kin_address, :input_html => { :rows => 4 } %>
  </fieldset>

  <fieldset>
    <legend>Food and allergies</legend>
    <%= f.input :vegetarian %>
    <%= f.input :halal %>
    <div class="alert alert-info">
      Below some allergies are listed. Please check whatever allergies you might have, or specify important allergies not listed here in the "other" box
    </div>
      <%= f.input :allergy_lactose %>
      <%= f.input :allergy_gluten %>
      <%= f.input :allergy_nuts %>
      <%= f.input :allergy_pets %>
      <%= f.input :allergy_other %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Host information</legend>
    <div class="alert alert-info">
      Below some preferences in hosts are listed
    </div>
    <%= f.input :smoke, :label => "I prefer non-smoking" %>
      <div class="alert alert-info">
        Please list handicaps ISFiT must consider when choosing your host.
      </div>
      <%= f.input :handicap %>
  </fieldset>
  
  <fieldset>
    <legend>ISFiT related information</legend>
      <%= f.input :media_consent, :label => "I agree to be contacted by the norwegian media prior to and during ISFiT 2011" %>
    <div class="alert alert-info">
      ISFiT 2011 is in contact with your embassies to try and make your visa application process as easy as possible. In order to do this we need to use your contact information. According to the Norwegian Privacy Committee, we need you to confirm that we are allowed to use your personal contact information.
    </div>
    <%= f.input :embassy_confirmation, :as => :boolean, :label => "I allow ISFiT to use my contact information" %>
  </fieldset>
    <%= f.button :submit %>
<% end %>
