<% content_for :sidebar_left do %>
  <ul class="nav nav-list well">
    <li class="nav-header">Menu</li>
    <% if can? :index, Participant %>
      <li><%= link_to image_tag('icons/page_white_stack.png') + ' Index', participants_path %></li>
    <% end %>
    <% if can? :validate_deadline, Participant %>
      <li><%= link_to image_tag('icons/eye.png') + ' Check deadlines', validate_deadline_participants_path %></li>
    <% end %>
    <% if current_user.has_role?(:admin) %>
      <li><%= link_to image_tag('icons/eye.png') + ' Functionary deadlines', deadlines_and_functionaries_participants_path %></li>
    <% end %>
    <% if can? :stats, Participant %>
      <li><%= link_to image_tag('icons/chart_bar.png') + ' Stats', stats_participants_path %></li>
      <li><%= link_to image_tag('icons/wrench.png') + ' Graphics', graphics_participants_path %></li>
    <% end %>
    <% if can? :search, Participant %>
      <li><%= link_to image_tag('icons/find.png') + ' Search', search_participants_path %></li>
    <% end %>
    <% if (current_user.is_functionary? or current_user == @participant.user) and @participant %>
      <% if current_user.has_role?(:admin) %>
        <% if @participant.questions.count > 0 %>
          <li><%= link_to image_tag('icons/comment.png') + ' Questions', question_path(@participant.questions.first) %></li>
        <% end %>
      <% end %>
      <li><%= link_to image_tag('icons/user.png') +' Show profile', participant_path(@participant) %></li>
      <li><%= link_to image_tag('icons/user_edit.png') +' Edit profile', edit_participant_path(@participant) %></li>
      <li><%= link_to image_tag('icons/arrow_right.png') + ' Continue deadlines', deadlines_participant_path %></li>
      <% if @participant.invited %>
        <li><%= link_to image_tag('icons/page_white_acrobat.png') + ' Download invitation letter',  :controller=>:participants, :format => :pdf, :action=> :invitation, :id => @participant.id%></li>
        <li><%= link_to image_tag('icons/page_white_acrobat.png') + " Download NTNU recommendation letter", "/ntnu_recommendation.pdf"%></li>
        <li><%= link_to image_tag('icons/page_white_acrobat.png') + " Download NSO recommendation letter", "/nso_recommendation.pdf"%></li>
        <% if @participant.travel_support > 0 %>
          <li><%= link_to image_tag('icons/page_white_acrobat.png') + ' Download travel support letter',  :controller=>:participants, :format => :pdf, :action=> :travel_support, :id => @participant.id%></li>
          <li><%= link_to image_tag('icons/page_white_acrobat.png') + ' Download travel support recommendation letter',  :controller=>:participants, :format => :pdf, :action=> :letter_of_recommendation, :id => @participant.id%></li>
        <% end %>
        <li><%= link_to image_tag('icons/page_white_acrobat.png') + " Download information brochure", "/Information_brochure.pdf"%></li>
        <li><%= link_to image_tag('icons/page_word.png') + " Download consent form", "/documents/power_of_attorney.doc"%></li>
      <% end %>
      <% if (can? :ignore, Participant) and not @participant.ignore %>
        <li><%= link_to image_tag('icons/wand.png') + " Add participant to ignore list", ignore_participant_path(@participant), confirm: "This will add the participant to the ignore list for deadlines. Are you sure you want do this?" %></li>
      <% end %>
      <% if (can? :unignore, Participant) and @participant.ignore %>
        <li><%= link_to image_tag('icons/wand.png') + " Remove participant from ignore list", unignore_participant_path(@participant), confirm: "This will remove the participant from the ignore list for deadlines. Are you sure you want do this?" %></li>
      <% end %>
      <% if current_user.has_role?(:admin) and @participant.active %>
        <li><%= link_to image_tag('icons/cross.png') + " Remove participant from deadlines", deactivate_participant_path(@participant), confirm: "The participant will not be able to continue on deadlines and are removed from the festival. Are you sure you want to continue?" %></li>
      <% end %>
      <% if current_user.has_role?(:admin) and not @participant.guaranteed and @participant.active and DeadlinesUser.where("deadline_id = 9 and user_id = ?", @participant.user.id).count > 0 %>
        <li><%= link_to image_tag('icons/accept.png') + " Secure participant", secure_participant_path(@participant) %></li>
      <% elsif current_user.has_role?(:admin) and @participant.active and DeadlinesUser.where("deadline_id = 9 and user_id = ?", @participant.user.id).count > 0 %>
        <li><%= link_to image_tag('icons/delete.png') + " Remove guarantee", desecure_participant_path(@participant) %></li>
      <% end %>
    <% end %>
  </ul>

  <% if current_user.has_role?(:admin) and @participant %>
    <br>
    <ul>
      <li><strong>Ignore list:</strong>The participant will not be removed from the festival when the deadlines expire.</li>
      <li><strong>Remove participant from deadlines:</strong> The participant can no longer continue on deadlines and are removed from the festival.</li>
      <li><strong>Secure:</strong> The participant is guaranteed to participate in ISFiT.</li>
    </ul>
  <% end %>

  <br>

  <% if @participant %>
    <% if @participant.invited %>
      <% @deadlines = Deadline.where("participant_type < 2") %>
    <% else %>
      <% @deadlines = Deadline.where("participant_type = 0 OR participant_type = 2") %>
    <% end %>
    <% if @deadlines %>
      <% if can? :check_deadline, Participant %>
        <%= link_to 'Check deadlines', check_deadline_participant_path, :class => "btn btn-primary btn-large btn-block" %>
      <% else %>
        <%= link_to 'Go to next deadline', deadlines_participant_path, :class => "btn btn-primary btn-large btn-block" %>
      <% end %>
      <ul class="nav nav-list well">
        <li class="nav-header">Deadlines</li>
        <% @deadlines.each do |d| %>
          <%if d.users.include?(@participant.user)%>
            <li><%= image_tag('icons/accept.png') %> <del><%=d.name%></del></li>
          <%else%>
            <%if d.deadline < Time.now%>
              <li><%= image_tag('icons/clock_red.png')%> <%=d.name%> - <%=d.deadline.to_formatted_s(:long)%></li>
            <%else%>
              <li><%= image_tag('icons/clock.png')%> <%=d.name%> - in <%=time_ago_in_words(d.deadline)%>(<%= d.deadline%>)</li>
            <%end%>
          <%end%>
        <%end%>
      </ul>
    <%end%>
  <% end %>
<% end %>
