<% content_for :sidebar_left do %>
  <ul class="nav nav-list well">
    <li class="nav-header">Menu</li>

    <% if current_user == @participant.user || !current_user.has_role?(:participant)%>
      <li><%= link_to image_tag('icons/user_edit.png') +' Edit profile', edit_participant_path(@participant) %></li>
      <li><%= link_to image_tag('icons/page_white_acrobat.png') + ' Download invitationletter',  :controller=>:participants, :format => :pdf, :action=> :invitation, :id => @participant.id%></li>
      <% if @participant.travel_support > 0 %>
        <li><%= link_to image_tag('icons/page_white_acrobat.png') + ' Download travel support letter',  :controller=>:participants, :format => :pdf, :action=> :travel_support, :id => @participant.id%></li>
      <% end %>
      <li><%= link_to image_tag('icons/page_white_acrobat.png') + " Download information brochure", "/Information_brochure.pdf"%></li>
      <li><%= link_to image_tag('icons/page_word.png') + " Download consent form", "/documents/power_of_attorney.doc"%></li>
      <% if current_user.has_role?(:admin) and not @participant.guaranteed %>
        <li><%= link_to image_tag('icons/accept.png') + " Secure participant (admin only)", secure_participant_path(@participant) %></li>
      <% elsif current_user.has_role?(:admin) %>
        <li><%= link_to image_tag('icons/delete.png') + " Remove guarantee (admin only)", desecure_participant_path(@participant) %></li>
      <% end %>
    <% end %>
  </ul>

  <br>

  <% if current_user.is_participant? %>
    <% @deadlines = Deadline.all %>
    <% if @deadlines %>
      <ul class="nav nav-list well">
        <li class="nav-header">Deadlines</li>
        <% @deadlines.each do |d| %>
          <%if d.users.include?(current_user)%>
            <li><%= image_tag('icons/accept.png') %> <del><%=d.name%></del></li>
          <%else%>
            <%if d.deadline < Time.now%>
              <li><%= image_tag('icons/clock_red.png')%> <%=d.name%> - <%=d.deadline.to_formatted_s(:long)%></li>
            <%else%>
              <li><%= image_tag('icons/clock.png')%> <%=d.name%> - in <%=time_ago_in_words(d.deadline)%>(<%= d.deadline%>)</li>
            <%end%>
          <%end%>
        <%end%>
      </ul>
    <%end%>
  <% end %>
<% end %>
