Found <%= pluralize @partici.size, "participant"%> 
<table class="full" style="font-size:75%">
  <tr>
    <th><%= sortable "first_name", "First name" %></th>
    <th><%= sortable "last_name", "Last name" %></th>
    <th><%= sortable "country_id", "Country" %></th>
    <th><%= sortable "flightnumber", "ref.nr." %></th>
    <th><%= sortable "guaranteed" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @participants.each do |participant| %>
  <tr>
    <td><%= participant.first_name %></td>
    <td><%= participant.last_name %></td>
    <td><%= participant.country.name %></td>
    <td><%= participant.flightnumber %></td>
    <td><%= participant.guaranteed ? "Yes":"No" %></td>
    <td><%= link_to image_tag('icons/user_go.png', :title=>"Show participant"), participant %></td>
    <td><%= link_to image_tag('icons/user_edit.png', :title=>"Edit participant"), edit_participant_path(participant) %></td>
    <td><%= link_to image_tag('icons/door_in.png', :title=>"Check in"), :check_in_participant_id => participant.id %></td>
  </tr>
<% end %>
</table>

