<h4>Found <%= pluralize @participants.total_entries, "participant"%></h4>
<table id="part" class="table table-condensed table-striped">
  <thead>
    <th>First name</th>
    <th>Last name</th>
    <th>Country</th>
    <th>ref.nr.</th>
    <th>Guaranteed</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

<% @participants.each do |participant| %>
  <tr>
    <td><%= participant.first_name %></td>
    <td><%= participant.last_name %></td>
    <td><%= participant.country.name %></td>
    <td><%= participant.flightnumber %></td>
    <td><%= participant.guaranteed ? "Yes":"No" %></td>
    <td><%= link_to image_tag('icons/user_go.png', :title=>"Show participant"), participant %></td>
    <td><%= link_to image_tag('icons/user_edit.png', :title=>"Edit participant"), edit_participant_path(participant) %></td>
    <td><%= link_to image_tag('icons/add.png', :title => "Match participant"), match_participant_path(participant) %></td>
    <td><%if participant.checked_in == nil%><%= link_to image_tag('icons/door_in.png', :title=>"Check in"), check_in_participant_path(participant.id) %><%else%><%= link_to image_tag('icons/door_out.png', :title=>"Check out"), check_out_participant_path(participant.id) %><%end%></td>
  </tr>
<% end %>
</table>
