<div class="well">
  <% if not Deadline.find_by_id(1).users.include?(current_user) and current_user.participant.invited and current_user.participant.active %>
    <% if false or @participant.ignore %>
      <%= simple_form_for(@participant, :url => deadlines_handler_participant_path(:deadline => 1), :method => "post",:html => {:class => "form"} ) do |f| %>
        <%= f.error_notification %>
        <fieldset>
          <legend>Accept invitation</legend>
          <div class="alert alert-info">
            Do you wish to accept your invitation to attend ISFiT 2013?
          </div>
          <%= f.input :accepted, :as => :radio_buttons, :collection => [["Yes", 1], ["No", 0]], :label =>  "I hereby accept my invitation to ISFiT." %>
        </fieldset>
        <%= f.button :submit, 'Continue', confirm: 'Is the information correct? You can not go back and change this later.'  %>
      <% end %>
    <% else %>
      <fieldset>
        <legend>Accept invitation</legend>
        <p>
        Dear
        </p>
        <p>
        You did not fill in all the required information at Participant Web before the
        given deadline and therefore you are not able to participate at ISFiT 2013. This is
        an unfortunate situation, but there is nothing more we can do, except encourage
        you to kindly respect our decision and hope that you will apply again for the next
        ISFiT in 2015.
        </p>
        <p>
        Yours sincerely,
        </p>
        <p>
        The Participant Group<br>
        ISFiT 2013
        </p>
      </fieldset>
    <% end %>

  <% elsif not Deadline.find_by_id(2).users.include?(current_user) and current_user.participant.invited and current_user.participant.active %>
    <%= simple_form_for(@participant, :url => deadlines_handler_participant_path(:deadline => 2), :method => "post", :html => {:class => "form"} ) do |f| %>
      <%= f.error_notification %>
      <fieldset>
        <legend>Have you applied for a Visa?</legend>
        <div class="alert alert-info">
          For more information: <%= link_to 'Link', information_page_path(16) %><br>
          Here is a list over the countries that do not need a Visa: <%= link_to 'Link', information_page_path(18) %><br>
          <strong>Do not continue before you have applied for a visa or is from a visa-free country.</strong>
        </div>
        <%= f.input :applied_for_visa, :label => "Have you applied for a Visa?", 
          :as => :radio_buttons, :collection => [["Yes", 1], ["No", 0], ["Do not need", -1]] %>
      </fieldset>
      <%= f.button :submit, 'Continue', confirm: 'Is the information correct? You can not go back and change this later.'  %>
    <% end %>

  <% elsif not Deadline.find_by_id(3).users.include?(current_user) and current_user.participant.invited and current_user.participant.active %>
    <%= simple_form_for(@participant, :url => deadlines_handler_participant_path(:deadline => 3), :method => "post", :html => {:class => "form"} ) do |f| %>
      <%= f.error_notification %>
      <fieldset>
        <legend>Give ISFiT permission to use my contact information</legend>
        <div class="alert alert-info">
          ISFiT 2013 is in contact with your embassy in order to make your Visa application process as
          easy as possible. In order to do this we need to use your contact information. According to
          the Norwegian Privacy Committee, we need you to confirm that we are allowed to use your
          personal contact information.
        </div>
        <%= f.input :embassy_confirmation, :as => :boolean, :label => "I give ISFiT permission to use my contact information" %>
      </fieldset>
      <%= f.button :submit, 'Continue', confirm: 'Is the information correct? You can not go back and change this later.'  %>
    <% end %>

  <% elsif not Deadline.find_by_id(4).users.include?(current_user) and current_user.participant.invited and current_user.participant.active %>
    <%= simple_form_for(@participant, :url => deadlines_handler_participant_path(:deadline => 4), :method => "post", :html => {:class => "form"} ) do |f| %>
      <%= f.error_notification %>
      <fieldset>
        <legend>Do you have a valid passport?</legend>
        <div class="alert alert-info">
          Please note that your passport must also be valid at least 90 days after your arrival to
          Norway.
        </div>
        <%= f.input :has_passport, :as => :radio_buttons, :collection => [["Yes", 1], ["No", 0]], :label => "Do you have a valid passport?" %>
      </fieldset>
      <%= f.button :submit, 'Continue', confirm: 'Is the information correct? You can not go back and change this later.'  %>
    <% end %>

  <% elsif not Deadline.find_by_id(5).users.include?(current_user) and current_user.participant.invited and current_user.participant.active %>
    <%= simple_form_for(:temp, :url => deadlines_handler_participant_path(:deadline => 5), :method => "post", :html => {:class => "form"} ) do |f| %>
      <%= f.error_notification %>
      <fieldset>
        <legend>Have you updated your profile?</legend>
        <div class="alert alert-info">
          All the fields must be filled out to be able to continue.
        </div>
        <%= link_to 'Edit profile', edit_participant_path(@participant) %>
        <br>
        <br>
        <%= f.input :edit_profile, :as => :radio_buttons, :collection => [["Yes", 1], ["No", 0]], :label => "Do you have edited your profile?" %>
      </fieldset>
      <%= f.button :submit, 'Continue', confirm: 'Is the information correct? You can not go back and change this later.'  %>
    <% end %>

  <% elsif Deadline.find_by_id(5).users.include?(current_user) and not DeadlinesUser.where("deadline_id = 5 AND user_id = ?", @participant.user.id).first.approved and current_user.participant.invited and current_user.participant.active %>
    <fieldset>
      <legend>Please wait</legend>
      <p>
      Please wait for your functionary to approve the previous deadline.
      </p>
    </fieldset>

  <% elsif not Deadline.find_by_id(6).users.include?(current_user) and current_user.participant.invited and current_user.participant.active %>
    <%= simple_form_for(@participant, :url => deadlines_handler_participant_path(:deadline => 6), :method => "post", :html => {:class => "form", :multipart => true} ) do |f| %>
      <%= f.error_notification %>
      <fieldset>
        <legend>Have you been granted a Visa?</legend>
        <div class="alert alert-info">
          Fill out the Visa number from the Schengen visa or scan your visa and upload it below.
        </div>
        <%= f.input :visa, :as => :radio_buttons, :collection => [["Yes", 1], ["No", 0]], :label => "Have you been granted a Visa?" %>
        <%= f.input :visa_number, :label => "Please enter your Visa number in the field below" %>
        Upload a scanned version of the Visa.<br>
        <%= f.file_field :visum %>

      </fieldset>
      <%= f.button :submit, 'Continue', confirm: 'Is the information correct? You can not go back and change this later.'  %>
    <% end %>

  <% elsif Deadline.find_by_id(6).users.include?(current_user) and not DeadlinesUser.where("deadline_id = 6 AND user_id = ?", @participant.user.id).first.approved and current_user.participant.invited and current_user.participant.active %>
    <fieldset>
      <legend>Please wait</legend>
      <p>
      Please wait for your functionary to approve the previous deadline.
      </p>
    </fieldset>

  <% elsif not Deadline.find_by_id(7).users.include?(current_user) and current_user.participant.invited and current_user.participant.active %>
    <%= simple_form_for(@participant, :url => deadlines_handler_participant_path(:deadline => 7), :method => "post", :html => {:class => "form", :multipart => true} ) do |f| %>
      <%= f.error_notification %>
      <fieldset>
        <legend>Transport Oslo-Trondheim</legend>
        <div class="alert alert-info">
          The cost will be 200NOK ($35 USD) each way, for a round-trip 400NOK ($70 USD). 
        </div>
        <%= f.input :need_transport, :label => "Do you need transportation by ISFiT from Oslo to Trondheim?",
         :as => :radio_buttons, :collection => [["Oslo-Trondheim-Oslo", 3], ["Oslo-Trondheim", 2], ["Trondheim-Oslo", 1], ["No", 0]] %>

      </fieldset>
      <%= f.button :submit, 'Continue', confirm: 'Is the information correct? You can not go back and change this later.'  %>
    <% end %>

  <% elsif not Deadline.find_by_id(8).users.include?(current_user) and current_user.participant.invited and current_user.participant.active %>
    <%= simple_form_for(@participant, :url => deadlines_handler_participant_path(:deadline => 8), :method => "post", :html => {:class => "form"} ) do |f| %>
      <%= f.error_notification %>
      <fieldset>
      <legend>Travel information</legend>
      <div class="alert alert-info">
        It is important to us to have this information so that we can ensure arrival in Trondheim and
        Oslo for all our participants. It is also crucial to help us coordinate the bus shuttles from Oslo to
        Trondheim.
      </div>
        <%= f.input :transport_type_id, :as => :select, :label => "Transport type", :collection => TransportType.all.to_select_name %>
        <%= f.input :flightnumber %>
        <%= f.input :arrives_at, :as => :datetime, :label => "Arrives at (time)", :input_html => { :class => "input-small" } %>
        <%= f.input :departs_at, :as => :datetime, :label => "Departs at (time)", :input_html => { :class => "input-small" } %>
        <%= f.input :arrival_place_id, :as => :select, :label => "Arrival place", :collection => ArrivalPlace.all.to_select_name %>
      </fieldset>
      <%= f.button :submit, 'Continue', confirm: 'Is the information correct? You can not go back and change this later.'  %>
    <% end %>

  <% elsif Deadline.find_by_id(8).users.include?(current_user) and not DeadlinesUser.where("deadline_id = 8 AND user_id = ?", @participant.user.id).first.approved and current_user.participant.invited and current_user.participant.active %>
    <fieldset>
      <legend>Please wait</legend>
      <p>
      Please wait for your functionary to approve the previous deadline.
      </p>
    </fieldset>

  <% elsif not Deadline.find_by_id(9).users.include?(current_user) and current_user.participant.invited and current_user.participant.active %>
    <%= simple_form_for(@participant, :url => deadlines_handler_participant_path(:deadline => 9), :method => "post", :html => {:class => "form", :multipart => true} ) do |f| %>
      <%= f.error_notification %>
      <fieldset>

        <legend>Confirm participation</legend>
        <%= f.input :confirmed_participation, :label => "I hereby confirm that I will participate in ISFiT 2013" %>

      </fieldset>
      <%= f.button :submit, 'Continue', confirm: 'Is the information correct? You can not go back and change this later.' %>
    <% end %>

  <% elsif not Deadline.find_by_id(10).users.include?(current_user) and not current_user.participant.invited and current_user.participant.active %>
    <%= simple_form_for(@participant, :url => deadlines_handler_participant_path(:deadline => 10), :method => "post", :html => {:class => "form", :multipart => true} ) do |f| %>
      <%= f.error_notification %>
      <fieldset>

        <legend>Waiting list</legend>
        <strong>Do you wish to be on a waiting list for participation in ISFiT 2013?</strong>
        <div class="alert alert-info">
          The final results will be available on the 20th of January.
          If you are granted participation at ISFiT 2013, the final deadline for confirming participation at
          the festival is the 1st of February. You will not be granted travel support.
        </div>
        <%= f.input :agree_waiting_list, :as => :radio_buttons, :collection => [["Yes", 1], ["No", 0]], :label => "Do you wish to be on a waiting list for participation in ISFiT 2013?" %>

      </fieldset>
      <%= f.button :submit, 'Continue', confirm: 'Is the information correct? You can not go back and change this later.' %>
    <% end %>

  <% elsif Deadline.find_by_id(9).users.include?(current_user) and current_user.participant.invited and current_user.participant.active %>
    <legend>Finished</legend>
    <p>
      You have completed all the deadlines.
    </p>

  <% elsif Deadline.find_by_id(10).users.include?(current_user) and not current_user.participant.invited and current_user.participant.agree_waiting_list %>
    <legend>Waiting list</legend>
    <p>
      You are on the waiting list. The final results will be available on the 20th of January.
    </p>

  <% elsif Deadline.find_by_id(10).users.include?(current_user) and not current_user.participant.invited and not current_user.participant.agree_waiting_list %>
    <legend>Waiting list</legend>
    <p>
      You are no longer on the waiting-list.
    </p>

  <% elsif not current_user.participant.active %>
    <legend>Information</legend>
    <% if @participant.accepted == 0 %>
      <p>You have failed to accept your invitation within the given deadline.If this is wrong, please send a question to your functionary.</p>
    <% elsif @participant.applied_for_visa == 1 and @participant.visa == 0 %>
      <p>ISFiT participants from visa required countries must have a visa within the given deadline. You have failed to meet this requirement. If this is wrong, please send a question to your functionary.</p>
    <% else %>
        <p>
        Dear <%= "#{@participant.first_name} #{@participant.last_name}" %>,
        </p>
        <p>
        You did not fill in all the required information at Participant Web before the
        given deadline and therefore you are not able to participate at ISFiT 2013. This is
        an unfortunate situation, but there is nothing more we can do, except encourage
        you to kindly respect our decision and hope that you will apply again for the next
        ISFiT in 2015.
        </p>
        <p>
        Yours sincerely,
        </p>
        <p>
        The Participant Group<br>
        ISFiT 2013
        </p>
    <% end %>

  <% end %>

</div>

<%= render 'menu' %>
