<div class="well">
  <% if not Deadline.find_by_id(1).users.include?(current_user) and current_user.participant.invited %>

    <%= simple_form_for(@participant, :url => deadlines_handler_participant_path, :method => "post",:html => {:class => "form"} ) do |f| %>
      <%= f.error_notification %>
      <fieldset>
        <legend>Accept invitation</legend>
        <div class="alert alert-info">
          Please check this box if you accept your invitation to ISFiT. You need to do this before the 15th of Desember. <strong>This cannot be undone.</strong>
        </div>
        <%= f.input :accepted, :as => :boolean, :label =>  "I hereby accept my invitation to ISFiT." %>
      </fieldset>
      <%= f.button :submit %>
    <% end %>

  <% elsif not Deadline.find_by_id(2).users.include?(current_user) %>

    <%= render 'form' %>

  <% elsif not Deadline.find_by_id(2).users.include?(current_user) and false %>

    <%= simple_form_for(@participant,:html => {:class => "form"} ) do |f| %>
      <%= f.error_notification %>
      <fieldset>
        <legend>Accept waiting-list</legend>
        <div class="alert alert-info">
          bla bla bla...
        </div>
        <%= f.input :agree_waiting_list, :label => "I hereby accept to be on the waiting-list to ISFiT." %>
      </fieldset>
      <%= f.button :submit %>
    <% end %>

  <% elsif not Deadline.find_by_id(3).users.include?(current_user) and false %>

    <%= simple_form_for(@participant,:html => {:class => "form"} ) do |f| %>
      <%= f.error_notification %>
      <fieldset>
        <legend>Applied for visa</legend>
        <div class="alert alert-info">
          Visa is only neccessary for certain participants. Please check if you need a Visa or not. This option should only be checked if you have a Visa, or don't need it.
        </div>
        <%= f.input :has_passport, :as => :boolean %>

        <%= f.input :applied_for_visa, :as => :boolean %>
      </fieldset>
      <%= f.button :submit %>
    <% end %>

  <% elsif not Deadline.find_by_id(4).users.include?(current_user) and false and DeadlinesUser.where("deadline_id = 3 AND user_id = ?", current_user.id).first.approved %>
    <%= simple_form_for(@participant,:html => {:class => "form"} ) do |f| %>
      <%= f.error_notification %>
      <fieldset>
        <legend>Visa in order</legend>
        <div class="alert alert-info">
          Ja, jeg har fått innvilget visum, eller trenger ikke visum. Skriv inn visanummer, eller last opp...
        </div>
        <%= f.input :visa, :as => :boolean, :label => "Yes, I have got a visa or do not need a visa" %>
        <%= f.input :visa_number %>

        Skjema for å laste opp skannet versjon av visum

      </fieldset>
      <%= f.button :submit %>
    <% end %>

  <% elsif not Deadline.find_by_id(5).users.include?(current_user) and false and DeadlinesUser.where("deadline_id = 4 AND user_id = ?", current_user.id).first.approved %>
    <%= simple_form_for(@participant,:html => {:class => "form"} ) do |f| %>
      <%= f.error_notification %>
      <fieldset>
      <legend>Travel information</legend>
      <div class="alert alert-info">
        Your travel information is used by ISFiT to know when you arrive, and if you need further transport
      </div>
        <%= f.input :transport_type_id, :as => :select, :label => "Transport type", :collection => TransportType.all.to_select_name %>
        <%= f.input :flightnumber %>
        <%= f.input :arrives_at, :label => "Arrives at (time)", :input_html => { :class => "input-small" } %>
        <%= f.input :departs_at, :label => "Departs at (time)", :input_html => { :class => "input-small" } %>
        <%= f.input :arrival_place_id, :as => :select, :label => "Arrival place", :collection => ArrivalPlace.all.to_select_name %>
        <p class="info"><%= image_tag('icons/information.png')%>Check this if you need transportation by ISFIT from Oslo to Trondheim. This costs 150NOK ($25 USD).</p>
        <%= f.input :need_transport, :as => :boolean, :label => "I need transportation" %>
      </fieldset>
      <%= f.button :submit %>
    <% end %>

  <% elsif false and DeadlinesUser.where("deadline_id = 5 AND user_id = ?", current_user.id).first.approved %>

    <legend>Finished</legend>
    <p>
      You have completed all the deadlines.
    </p>

  <% else %>

    <legend>Please wait</legend>
    <p>
    There are currently no deadlines you can complete.
    </p>

  <% end %>
</div>

<%= render 'menu' %>
