<% content_for :sidebar_left do %>
  <ul class="nav nav-list well">
    <li class="nav-header">Check in</li>
    <li>There are <%= pluralize Participant.where("checked_in IS NOT NULL").count, "participant" %> checked in</li>

    <li class="nav-header">Problems?</li>
    <li>Call Dag-Inge: 92491526</li>
  </ul>
<% end %>

<%= search_form_for @q, :builder => SimpleForm::FormBuilder, url: participants_path, :html => { :class => "form-horizontal", method: :post } do |f| %>
  <fieldset>
    <legend>Search participants</legend>
    <%= f.input :first_name_cont, :label => "First name", :input_html => { :class => "col-md-4" }, required: false %>
    <%= f.input :last_name_cont, :label => "Last name", :input_html => { :class => "col-md-4" }, required: false %>
    <%= f.input :country_id_eq, :label => "Country", as: :select, collection: Country.all.collect { |c| [c.name, c.id] }, required: false, :input_html => { :class => "col-md-4" } %>
    <%= f.input :arrival_place_id_eq, :label => "Arrival place", as: :select, collection: ArrivalPlace.all.collect { |ap| [ap.name, ap.id] }, required: false, :input_html => { :class => "col-md-4" } %>
    <%= f.input :checked_in_not_null, :label => "Checked in", as: :boolean, required: false %>
    <%= f.input :checked_in_null, :label => "Not checked in", as: :boolean, required: false %>
    <%= f.input :checked_out_not_null, :label => "Checked out", as: :boolean, required: false %>

    <%= f.submit 'search', :class => "btn btn-primary" %>
  </fieldset>
<% end %>

Found <%= pluralize @participants.total_entries, "participant"%> 
<table class="table table-striped table-condensed table-borderless">
  <thead>
    <th><%= "First name" %></th>
    <th><%= "Last name" %></th>
    <th><%= "Country" %></th>
    <th><%= "Arrives at" %></th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
  <% @participants.each do |participant| %>
    <tr>
      <td><%= participant.first_name %></td>
      <td><%= participant.last_name %></td>
      <td><%= participant.country.name %></td>
      <td><%= participant.arrives_at.strftime("%F %H:%M") unless participant.arrives_at.nil? %> </td>
      <td><%= link_to image_tag('icons/user_go.png', title: "Full profile"), participant_path(participant) %></td>
      <td><%= link_to image_tag('icons/add.png', :title => "Match participant"), match_participant_path(participant) %></td>
      <% if participant.checked_in.nil? %>
        <td><%= link_to image_tag('icons/door_in.png', :title=>"Check in participant"), check_in_participant_path(participant)  %></td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @participants, :params => {:q=>params[:q]} %>
