<h1>Listing all participants</h1>
<% content_for :sidebar_left do %>
  <% form_for :participant, @search_participant, :url => { :action => "index" },
          :html => {:method => "get"} do |f| %>
  <table>
    <tr>
      <tr><td><b>First name: </b></td></tr><tr><td><%= f.text_field :first_name %></td></tr>
    <tr><td><b>Last name: </b></td></tr><tr><td><%= f.text_field :last_name %></td></tr>
    <tr><td><b>E-mail address: </b></td></tr><tr><td><%= f.text_field :email %></td></tr>
    <tr><td><b>Workshop: </b></td></tr><tr><td><%= f.text_field :workshop %></td></tr>
  </table>
  <br />
  <%= submit_tag 'Search' %><br>
  <% end %>
<% end %>

<table class="full">
  <tr>
    <th><%= sortable "first_name", "First name" %></th>
    <th><%= sortable "last_name", "Last name" %></th>
    <th><%= sortable "city" %></th>
    <th><%= sortable "workshop" %></th>
    <th><%= sortable "accepted" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @participants.each do |participant| %>
  <tr>
    <td><%= participant.first_name %></td>
    <td><%= participant.last_name %></td>
    <td><%= participant.city %></td>
    <td><%= participant.workshop %></td>
    <td><%= participant.accepted == 1 ? "Yes":"No" %></td>
    <td><%= link_to 'Show', participant %></td>
    <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
  </tr>
<% end %>
</table>
