<%= render 'menu' %>
<%= render 'transport' %>

<%= search_form_for @q, :builder => SimpleForm::FormBuilder, url: participants_path, method: :post, :html => { :class => "form-horizontal" } do |f| %>
  <%= f.input :first_name_cont, :label => "First name", :input_html => { :class => "span4" } %>
  <%= f.input :last_name_cont, :label => "Last name", :input_html => { :class => "span4" } %>
  <%= f.input :email_cont, :label => "Email", :input_html => { :class => "span4" } %>
  <%= f.input :country_id_eq, as: :select, collection: Country.all.collect { |c| [c.name, c.id] } %>
  <%= f.input :workshop_id_eq, as: :select, collection: Workshop.all.collect { |w| [w.name, w.id] } %>

  <%= f.submit 'search', :class => "btn btn-primary" %>
<% end %>

<div id="index_table">
  <%= render :partial => "participants" %>
  <%= will_paginate @participants, :params => {:q=>params[:q]} %>
</div>
<% content_for :script do %>
<script>
  $(function() {
    $("div#statistics").hide();
    $("#toggle-stat").click(function() {
      $("div#statistics").toggle("slow");
    });
  });
</script>
<% end %>
<a id="toggle-stat" style="cursor: pointer;">Toggle statistics</a>
<div id="statistics">
  <p class="info">
    All info below are from the active search.
  </p>
  <% content_for :script do %>
  <script>
    $(function() {
      $("#country-dist").hide();
      $("#country-dist-toggle").click(function() {
        $("#country-dist").toggle("slow");
      });
    });
  </script>
  <% end %>
  <h3><a id="country-dist-toggle" style="cursor: pointer;">Total country distribution</a></h3>
  <div id="country-dist">
    <p class="info"><%= @partici.count %> total</p>
    <table id="datatable-country" class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Country</th>
          <th>Participants</th>
        </tr>
      </thead>
      <tbody>
        <% @country_count.each do |c| %>
          <tr>
            <td><%= @countries[c[0]-1].name %></td><td><%= c[1] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% @workshops.each do |w| %>
    <% @w_part_count = @partici.where(:workshop_id => w.id).group(:country_id).count.sort_by{|k,v| v}.reverse %>
    <% content_for :script do %>
    <script>
      $(function() {
        $("#workshop<%= w.id %>-dist").hide();
        $("#workshop<%= w.id %>-dist-toggle").click(function() {
          $("#workshop<%= w.id %>-dist").toggle("slow");
        });
      });
    </script>
    <% end %>
    <% next if @w_part_count.nil? %>

<% content_for :script do %>
<!-- Highcharts workshop basic bar from table -->
  <script>
    /**
    * Visualize an HTML table using Highcharts. The top (horizontal) header 
    * is used for series names, and the left (vertical) header is used 
    * for category names. This function is based on jQuery.
    * @param {Object} table The reference to the HTML table to visualize
    * @param {Object} options Highcharts options
    */
    Highcharts.visualize = function(table, options) {
    // the categories
    options.xAxis.categories = [];
    $('tbody th', table).each( function(i) {
      options.xAxis.categories.push(this.innerHTML);
    });

    // the data series
    options.series = [];
    $('tr', table).each( function(i) {
      var tr = this;
      $('th, td', tr).each( function(j) {
        if (j > 0) { // skip first column
          if (i == 0) { // get the name and init the series
            options.series[j - 1] = { 
              name: this.innerHTML,
              data: []
            };
            } else { // add values
              options.series[j - 1].data.push(parseFloat(this.innerHTML));
            }
          }
        });
    });

    var chart = new Highcharts.Chart(options);
    }

    // On document ready, call visualize on the datatable.
    $(document).ready(function() {         
      var table = document.getElementById('datatable<%= w.id %>'),
      options = {
        chart: {
          renderTo: 'workshop<%= w.id %>-container',
          defaultSeriesType: 'bar'
        },
        title: {
          text: 'Participants in workshop by country'
        },
        xAxis: {
        },
        yAxis: {
          title: {
            text: 'Units'
          }
        },
        tooltip: {
          formatter: function() {
            return '<b>'+ this.series.name +'</b><br/>'+
            this.y +' '+ this.x.toLowerCase();
          }
        }
      };


      Highcharts.visualize(table, options);
    });
  </script>
<% end %>

<h3><a id="workshop<%= w.id %>-dist-toggle" style="cursor: pointer;">Workshop <%= w.name %> distribution (<%= @workshop_count[w.id] %> total)</a></h3>
<div id="workshop<%= w.id %>-dist">
  <% content_for :script do %>
      <script>
      $(function() {
        $("#workshop<%= w.id %>-container").hide();
        $("#workshop<%= w.id %>-bar-toggle").click(function() {
          $("#workshop<%= w.id %>-container").toggle("slow");
          $("#datatable<%= w.id %>").toggle("slow");
        });
      });
    </script>
  <% end %>
  <a id="workshop<%=w.id%>-bar-toggle" style="cursor: pointer;">Toggle graphic</a>
  <div id="workshop<%= w.id %>-container" style="width: 400px; height: 800px; margin: 0;"></div>
  <table id="datatable<%= w.id %>">
    <thead>
      <tr>
        <th></th>
        <th>Participants</th>
      </tr>
    </thead>
    <tbody>
      <% @w_part_count.each do |c| %>
        <tr>
          <th><%= @countries[c[0]].name %></th><td><%= c[1] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
  <% end %>

</div>
