<script>
$(document).ready(function (){  
  jQuery.ajaxSetup({  
    'beforeSend': function (xhr) {xhr.setRequestHeader("Accept", "text/javascript")}  
  });  
  $('.search').submit(function (){  
    //$.get($(this).attr('action'), $(this).serialize(), null, "script");
    $.get($(this).attr('action'), $(this).serialize(), null, "script");
    return false;  
  });
  $('.search').keyup(function (){
    setTimeout(function() { $('.search').submit(); }, 500);
  });
  $('.sendmail').submit(function (){
    var res = $('.search').serialize();
    var res2 = $(this).serialize();
    var res3 = res + res2;
    $.get($(this).attr('action'), res3, null, "script");
    return false;  
  });
}); 
</script>
<% content_for :sidebar_left do %>
<% form_for :participant, @search_participant, :url => { :action => "index" },
:html => {:method => "get", :class => "search"} do |f| %>
  <table>
    <tr>
      <tr><td><b>First name: </b></td></tr><tr><td><%= f.text_field :first_name %></td></tr>
    <tr><td><b>Last name: </b></td></tr><tr><td><%= f.text_field :last_name %></td></tr>
    <tr><td><b>E-mail address: </b></td></tr><tr><td><%= f.text_field :email %></td></tr>
    <tr><td><b>Workshop: </b></td></tr><tr><td><%= f.text_field :workshop %></td></tr>
  </table>
  <br />
  <%= submit_tag 'Search' %><br>
  <% end %>
<% end %>

<div id="index_table">
  <%= render :partial => "participants" %>
</div>

<% content_for :sidebar_right do %>

<% form_for :mailform, @mailform, :url => { :action => "mail_to_search_results" },
:html => {:method => "get", :class => "sendmail"} do |f| %>
  <table>
    <tr>
      <tr><td><b>Subject: </b></td></tr><tr><td><%= f.text_field :subject %></td></tr>
      <tr><td><b>Your message: </b></td></tr><tr><td><%= f.text_field :text %></td></tr>
  </table>
  <br />
  <%= submit_tag 'Send email' %><br>
<% end %>

<% end %>

