<%= render 'menu' %>
<%= render 'transport' %>

<%= search_form_for @q, :builder => SimpleForm::FormBuilder, url: participants_path, method: :post, :html => { :class => "form-horizontal" } do |f| %>
  <fieldset>
    <legend>Search participants</legend>
    <%= f.input :first_name_cont, :label => "First name", :input_html => { :class => "col-md-4" }, required: false %>
    <%= f.input :last_name_cont, :label => "Last name", :input_html => { :class => "col-md-4" }, required: false %>
    <%= f.input :email_cont, :label => "Email", :input_html => { :class => "col-md-4" }, required: false %>
    <%= f.input :country_id_eq, :label => "Country", as: :select, collection: Country.all.collect { |c| [c.name, c.id] }, required: false, :input_html => { :class => "col-md-4" } %>
    <%= f.input :workshop_id_eq, :label => "Workshop", as: :select, collection: Workshop.all.collect { |w| ["#{w.id} - #{w.name}", w.id] }, required: false, :input_html => { :class => "col-md-4" } %>

    <div class="form-actions">
      <%= f.submit 'search', :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>

<div id="index_table">
  <%= render :partial => "participants" %>
  <%= will_paginate @participants, :params => {:q=>params[:q]} %>
</div>
