<!--<script>
$(document).ready(function (){  
  jQuery.ajaxSetup({  
    'beforeSend': function (xhr) {xhr.setRequestHeader("Accept", "text/javascript")}  
  });  
  $('.search').submit(function (){  
    //$.get($(this).attr('action'), $(this).serialize(), null, "script");
    $.get($(this).attr('action'), $(this).serialize(), null, "script");
    return false;  
  });
  $('.search').keyup(function (){
    setTimeout(function() { $('.search').submit(); }, 500);
  });
  $('.sendmail').submit(function (){
    var res = $('.search').serialize();
    var res2 = $(this).serialize();
    var res3 = res + res2;
    $.get($(this).attr('action'), res3, null, "script");
    return false;  
  });
}); 
</script>-->
<% content_for :sidebar_left do %>
<% form_for :participant, @search_participant, :url => { :action => "index" },
:html => {:method => "get", :class => "search"} do |f| %>
  <ul class="vlist">
  <li><b>First name: </b></li><li><%= f.text_field :first_name %></li>
  <li><b>Last name: </b></li><li><%= f.text_field :last_name %></li>
  <li><b>E-mail address: </b></li><li><%= f.text_field :email %></li>
  <li><b>Search with checkboxes:<b><li><%= check_box_tag :requirements, params[:requirements], params[:requirements]%></li></li><ul>
  <li><b>Got visa?: </b></li><li><%= f.check_box :visa %></li>
  <li><b>Accepted?: </b></li><li><%= f.check_box :accepted %></li>
  <li><b>Has passport?: </b></li><li><%= f.check_box :has_passport %></li>
  <li><b>Applied for visa?: </b></li><li><%= f.check_box :applied_for_visa %></li>
<!--  <li><b>Workshop: </b></li><li><%= f.text_field :workshop, :name=>:workshop %></li>-->
  </ul></ul>

  <br />
  <%= f.submit 'Search' %> <%= link_to (submit_tag 'Show all', :type => 'button'), :action=>:index %><br>
  <% end %>
<% end %>

<div id="index_table">
  <%= render :partial => "participants" %>
  <%= will_paginate @participants%>
</div>

