<html> 
  <head>
      <meta charset="UTF-8">

  <style type="text/css">
        td {
          font-family: 'Times New Roman';
          font-size: 10pt;
        };
        body {
          padding-left: 100px;
          padding-right: 100px;
        };
        .style2 {
          text-align:justify;
        };
      </style> 
    </head>
  <body>
    <table width="100%" border="0"> 
      <tr> 
        <td colspan="2"><div align="right"><%= image_tag 'logo_svartcyan_2013.png', :width=>"150"%></div></td> 
      </tr> 
      <tr> 
        <td colspan="2"><span class="style2">Dear <%= @participant.last_name%>, <%= @participant.first_name %></span></td> 
      </tr> 
      <tr> <td colspan="2">&nbsp;</td></tr> 
      <tr> 
        <td colspan="2">  
          <p>
 The International Student Festival in Trondheim 2013 – ISFiT – and the ISFiT Foundation
hereby confirm that you are invited to participate in ISFiT 2013, in workshop <%= @participant.workshop_id %> - <%= @participant.workshop.name %>.
The festival takes place in Trondheim, Norway, from 7th of February to the 17th of February
2013.
</p>

<p>
ISFiT 2013 has received about 5900 applications from 154 nations. All applications have gone
through a thorough selection process, where only the most motivated and dedicated students
were selected. On this basis, you are one of the 450 students who we look forward to meeting in
February.
</p>

<p>
ISFiT is a meeting place where future leaders are given a chance to be heard, build networks
and trade ideas. The main topic of ISFiT 2013 is global trade. ISFiT 2013 defines global trade
as legal and illegal exchange of goods, services, labour, capital and financial instruments. We
acknowledge that resources are not equally distributed globally, and that transparency and
cooperation on more equal terms will increase fairness in trade. How do actors such as nations,
multinational companies, organizations, social movements, local communities and individuals
affect, and influence, global trade? ISFiT 2013 wants to create a constructive debate across
ideological and national boundaries.
</p>

<p>
ISFiT 2013 is able to provide travel support for only a few of the participants. Those who are
granted travel support will receive a separate letter concerning this. Food and accommodation
in Trondheim is free of charge for the participants, and will be taken care of by ISFiT.
</p>

<p>
The ISFiT Foundation consists of the Norwegian University of Science and Technology
(NTNU); Sør-Trøndelag University College (HiST); the Student Society of Trondheim
(Studentersamfundet); “Studentsamskipnaden i Trondheim” (SiT); Trondheim local authority;
and Sør-Trøndelag County Authority. Representing the city of Trondheim and its institutions for
higher education, the ISFiT Foundation proudly welcomes you to Trondheim and ISFiT 2013.
</p>

<p>
We consider it most important that all those who are invited are able to attend ISFiT 2013. We
therefore hope that universities, companies and embassies will do their best to help the selected
participants.
</p>

<p>
Yours sincerely,
</p>
      </tr> 
      <tr> 
        <td width="50%"><p><%= image_tag 'kaja_signature.png', :style => "border-bottom: 1px solid black", :width => "160"%> </p> 
          <p>Kaja Juul Skarb&oslash;<br> 
          President, ISFiT 2013    </p></td>
        <td width="50%" align="right"><p><%= image_tag 'kari_eline_signature.png', :style => "border-bottom: 1px solid black", :width => "160"%> </p>
          <p>Kari Eline Strandjord<br>
          Head of Participant, ISFIT 2013</p></td>
      </tr>
      <tr>
        <td width="50%"><p><%= image_tag 'eirik_vikum_signature.png', :style => "border-bottom: 1px solid black", :width => "160" %></p> 
          <p>Eirik Vikum<br> 
          Chairman, the ISFiT foundation</p></td>
      </tr>
    </table> 
  </body>
</html>
