<% content_for :sidebar_left do %>
  <ul class="nav nav-list well">
    <li class="nav-header">Participants</li>
    <li><%= link_to image_tag('icons/user_go.png', title: "Full profile") + " Full profile", participant_path(@participant) %></li>
    <li><%= link_to image_tag('icons/house.png') + ' Show all', participants_path %></li>

    <li class="nav-header">Problems?</li>
    <li>Call Dag-Inge: 92491526</li>
  </ul>
<% end %>

<h1><%= "#{@participant.first_name} #{@participant.last_name} #{(@participant.guaranteed and not current_user.is_participant?) ? '(Guaranteed)' : ''}" %></h1>

<legend>Food and allergies</legend>
<table class="table table-condensed table-hover table-borderless">
  <tbody>
    <tr>
      <th>Vegetarian</th> 
      <td><%= @participant.vegetarian ? "Yes" : "No" %></td>
    </tr>
    <tr>
      <th>Lactose intolerant</th> 
      <td><%= @participant.allergy_lactose ? "Yes" : "No" %></td>
    </tr>
    <tr>
      <th>Gluten intolerant</th> 
      <td><%= @participant.allergy_gluten ? "Yes" : "No" %></td>
    </tr>
    <tr>
      <th>Allergic to nuts:</th> 
      <td><%= @participant.allergy_nuts ? "Yes" : "No" %></td>
    </tr>
    <tr>
      <th>Other allergies</th> 
      <td><%= @participant.allergy_other %></td>
    </tr>
  </tbody>
</table>

<legend>Current host</legend>
<h4><%= (link_to @participant.host.full_name, host_path(@participant.host)) if @participant.host %></h4>

<legend>Hosts</legend>
Found <%= pluralize @hosts.total_entries, "host" %>
<table class="table table-condensed table-hover table-borderless table-striped">
  <thead>
    <tr>
      <th>Host name</th>
      <th>Show</th>
      <th>Add</th>
    </tr>
  </thead>
  <tbody>
    <% @hosts.each do |host| %>
      <tr>
        <td><%= host.full_name %></td>
        <td><%= link_to image_tag('icons/user_go.png', :title=>"Show host"), host %></td>
        <td><%= link_to image_tag('icons/cart_add.png', :title=>"Add participant to host"), add_host_path(@participant, host_id: host), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @hosts %>
