<% content_for :sidebar_left do %>
  <ul class="nav nav-list well">
    <li class="nav-header">Participants</li>
    <li><%= link_to image_tag('icons/user_go.png', title: "Full profile") + " Full profile", participant_path(@participant) %></li>
    <li><%= link_to image_tag('icons/phone.png', title: 'Add phone number') + 'Add phone number', add_phone_number_participant_path(@participant) %></li>
    <li><%= link_to image_tag('icons/door_out.png', title: 'Remove check in') + ' Remove check in', remove_check_in_participant_path(@participant) %></li>
    <li><%= link_to image_tag('icons/house.png', title: 'Show all') + ' Show all', participants_path %></li>

    <li class="nav-header">Problems?</li>
    <li>Call Dag-Inge: 92491526</li>
  </ul>
<% end %>

<h1><%= "#{@participant.first_name} #{@participant.last_name} #{(@participant.guaranteed and not current_user.is_participant?) ? '(Guaranteed)' : ''}" %></h1>

<legend>Phone number</legend>
<table class="table table-condensed table-hover table-borderless">
  <tbody>
    <tr>
      <th>Phone number</th>
      <td><%= @participant.phone_number %></td>
    </tr>
  </tbody>
</table>

<legend>Workshop</legend>
<table class="table table-condensed table-hover table-borderless">
  <tbody>
    <tr>
      <th>Nr + name</th>
      <% if @participant.workshop %>
        <td><%= @participant.workshop.id.to_s + ' - ' + @participant.workshop.name %></td>
      <% else %>
        Doesn't have workshop, contact IT.
      <% end %>
    </tr>
  </tbody>
</table>

<legend>Checked in</legend>
<table class="table table-condensed table-hover table-borderless">
  <tbody>
    <tr>
      <th>Time checked in:</th>
      <td><%= @participant.checked_in || "Not checked in" %></td>
    </tr>
  </tbody>
</table>

<legend>Food and allergies</legend>
<table class="table table-condensed table-hover table-borderless">
  <tbody>
    <tr>
      <th>Halal</th> 
      <td><%= @participant.halal ? "Yes" : "No" %></td>
    </tr>
    <tr>
      <th>Vegetarian</th> 
      <td><%= @participant.vegetarian ? "Yes" : "No" %></td>
    </tr>
    <tr>
      <th>Lactose intolerant</th> 
      <td><%= @participant.allergy_lactose ? "Yes" : "No" %></td>
    </tr>
    <tr>
      <th>Gluten intolerant</th> 
      <td><%= @participant.allergy_gluten ? "Yes" : "No" %></td>
    </tr>
    <tr>
      <th>Allergic to nuts:</th> 
      <td><%= @participant.allergy_nuts ? "Yes" : "No" %></td>
    </tr>
    <tr>
      <th>Other allergies</th> 
      <td><%= @participant.allergy_other %></td>
    </tr>
    <tr>
      <th>Allergic to pets</th> 
      <td><%= @participant.allergy_pets ? "Yes" : "No" %></td>
    </tr>
    <tr>
      <th>Handicap</th> 
      <td><%= @participant.handicap %></td>
    </tr>
  </tbody>
</table>

<legend>Current host</legend>
<h4><%= (link_to @participant.host.full_name, host_path(@participant.host)) if @participant.host %></h4>

<legend>Hosts</legend>
Found <%= pluralize @hosts.total_entries, "host" %>
<table class="table table-condensed table-hover table-borderless table-striped">
  <thead>
    <tr>
      <th>Host name</th>
      <th>Show</th>
      <th>Add</th>
    </tr>
  </thead>
  <tbody>
    <% @hosts.each do |host| %>
      <tr>
        <td><%= host.full_name %></td>
        <td><%= link_to image_tag('icons/user_go.png', :title=>"Show host"), host %></td>
        <td><%= link_to image_tag('icons/cart_add.png', :title=>"Add participant to host"), add_host_path(@participant, host_id: host), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @hosts %>
