<%= render 'menu' %>

<%= search_form_for @q, :builder => SimpleForm::FormBuilder, url: search_participants_path, :html => { :class => "form-horizontal" } do |f| %>
  <fieldset>
    <legend>Search participants</legend>
    <div class="form-group string optional">
      <%= label_tag 'sort_by', "Sort By", :class => "string optional control-label" %>
      <div class="controls">
        <%= select_tag :sort_by, options_from_collection_for_select(@sortable_fields, "to_sym", "humanize", @sort_by), include_blank: true %>
      </div>
    </div>
    <div class="form-group string optional">
      <%= label_tag 'functionary', "Functionary", :class => "string optional control-label" %>
      <div class="controls">
        <%= select_tag :functionary, options_for_select(Functionary.all_with_role_functionary, @functionary), include_blank: true %>
      </div>
    </div>
    <div class="form-group string optional">
      <%= label_tag 'deadline', "Deadline not approved", :class => "string optional control-label" %>
      <div class="controls">
        <%= select_tag :deadline, options_for_select({ "Deadline 6" => 6, "Deadline 8" => 8 }, @deadline), include_blank: true %>
      </div>
    </div>
    <%= f.input :first_name_cont, label: "First name", :input_html => { :class => "col-md-4" }, required: false %>
    <%= f.input :last_name_cont, label: "Last name", :input_html => { :class => "col-md-4" }, required: false %>
    <%= f.input :email_cont, label: "Email", :input_html => { :class => "col-md-4" }, required: false %>
    <div class="form-group string optional">
      <%= label_tag 'arrives_at', "Arrives at", :class => "string optional control-label" %>
      <div class="controls">
        <%= text_field :arrives_at, :arrives_at, :value => @arrives_at %>
        <p class="help-block">Use YYYY-MM-DD</p>
      </div>
    </div>
    <%= f.input :arrival_place_id_eq, label: "Arrival place", as: :select, collection: ArrivalPlace.all.collect { |a| [a.name, a.id] }, required: false %>
    <%= f.input :checked_in_null, :label => "Not checked in", as: :boolean, required: false %>
    <%= f.input :guaranteed_present, label: "Guaranteed", as: :select, required: false %>
    <%= f.input :country_id_eq, label: "Country", as: :select, collection: Country.all.collect { |c| [c.name, c.id] }, required: false %>
    <%= f.input :country_citizen_id_eq, label: "Country (Citizen)", as: :select, collection: Country.all.collect { |c| [c.name, c.id] }, required: false %>
    <%= f.input :workshop_id_eq, label: "Workshop", as: :select, collection: Workshop.all.collect { |w| [w.name, w.id] }, required: false %>
    <%= f.input :transport_type_id_eq, label: "Transport type", as: :select, collection: TransportType.all.collect { |t| [t.name, t.id] }, required: false %>
    <%= f.input :visa_present, label: "Has visa", as: :select, required: false %>
    <%= f.input :invited_eq, label: "Invited", as: :select, collection: [["Invited", true], ["Waiting-list", false]], required: false %>
    <%= f.input :accepted_present, label: "Accepted invitation", as: :select, required: false %>
    <%= f.input :applied_for_visa_eq, label: "Applied for visa", as: :select, collection: [["Yes", 1], ["Do not need", -1]], required: false %>
    <%= f.input :embassy_confirmation_present, label: "Embassy confirmation", as: :select, required: false %>
    <%= f.input :has_passport_true, label: "Has passport", as: :select, required: false %>
    <%= f.input :applied_for_visa_present, label: "Applied for visa", as: :select, required: false %>
    <%= f.input :flightnumber_present, label: "Has flight", as: :select, required: false %>
    <%= f.input :travel_support_present, label: "Has travel support", as: :select, required: false %>
    <%= f.input :need_transport_present, label: "Needs transport", as: :select, required: false %>
    <%= f.input :ignore_eq, label: "Ignored", as: :select, required: false %>
    <%= f.input :active_eq, label: "Active", as: :select, required: false %>
  </fieldset>

  <%= f.submit 'search', :class => "btn btn-primary" %>
<% end %>

<div id="index_table">
  <%= render :partial => "participants" %>
  <%= will_paginate @participants %>
</div>
