<h1> MAKE THIS PRIVATE </h1>
<h1><%= "#{@participant.first_name} #{@participant.last_name}"%></h1>
<p>Form for posting new status messages</p>
<p>Render out 5 newest status messages?</p>

<h2>Public information</h2>
<p class="info">This is your public information. It can be seen by anyone that's logged in</p>
<p>
  <b>Date of birth:</b>
  <%= @participant.date_of_birth %>
</p>
<p>
  <b>Field of study:</b>
  <%= @participant.field_of_study %>
</p>
<h2>Private information</h2>
<p class="info">Private information can only be seen by you and the functionaries of ISFiT.</p>
<p>
  <b>Email:</b>
  <%= @participant.email %>
</p>

<p>
  <b>Address1:</b>
  <%= @participant.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @participant.address2 %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @participant.zipcode %>
</p>

<p>
  <b>City:</b>
  <%= @participant.city %>
</p>

<p>
  <b>Country:</b>
  <%= @participant.country_id %>
</p>

<p>
  <b>Sex:</b>
  <%= @participant.sex %>
</p>
<p>
  <b>Workshop:</b>
  <%= @participant.workshop %>
</p>
<h2>Admin info</h2>
<p>
  <b>User:</b>
  <%= @participant.user_id %>
</p>


<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
