<% content_for :breadcrumbs do %>
  <li><%= link_to 'Dashboard', dashboard_path %></li>
  <li><%= link_to 'Participants', participants_path %></li>
  <li class="active"><%= @participant.user.full_name %></li>
<% end %>
<% if @participant.errors.any? %>
    <div class="alert alert-danger">
      <p><strong><%= pluralize(@participant.errors.count, "error") %> grade form being set</strong></p>

      <ul>
        <% @participant.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<article id="application-<%= @participant.id %>">
  <h1><%= @participant.user.full_name %></h1>

  <!-- General information -->
  <div class="row">
    <div class="col-md-6">
      <dl class="dl-horizontal">
        <dt>Date of birth</dt>
        <dd><%= @participant.user.profile.date_of_birth %></dd>

        <dt>Gender</dt>
        <dd><%= gender_to_string(@participant.user.profile.gender) %></dd>

        <dt>Nationality</dt>
        <dd><%= @participant.user.profile.nationality %></dd>

        <dt>Citizenship</dt>
        <dd><%= @participant.user.profile.citizenship.name %></dd>
      </dl>
      <!-- Education information -->
      <dl class="dl-horizontal">
        <dt>University</dt>
        <dd><%= @participant.user.profile.school %></dd>

        <dt>Field of study</dt>
        <dd><%= @participant.user.profile.field_of_study %></dd>
      </dl>
      <!-- Contact information -->
      <dl class="dl-horizontal">
        <dt>E-mail</dt>
        <dd><%= @participant.user.email %></dd>

        <dt>Phone</dt>
        <dd>+<%= @participant.user.profile.calling_code %> <%= @participant.user.profile.phone %></dd>

        <dt>Address</dt>
        <dd>
          <%= @participant.user.profile.address %><br />
          <%= @participant.user.profile.postal_code %>
          <%= @participant.user.profile.city %><br />
          <%= @participant.user.profile.country.name %>
        </dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Workshop</dt>
        <dd><%= @participant.workshop_id.to_s + '. ' + @participant.workshop.title %></dd>
        <dt>Accepted invitation</dt>
        <dd>
          <%= intToYesNo(@participant.accepted_invitation) %>
        </dd>
        <dt>Needs visa</dt>
        <dd>
          <%= intToYesNo(@participant.need_visa) %>
        </dd>
        <dt>Granted aid</dt>
        <dd> <%= @participant.granted_amount %></dd>
      </dl>

      <!-- Logistics -->

        <dl class="dl-horizontal">
          <dt>Oslo arrival</dt>
          <dd><%= @participant.osl_arrival_date %></dd>
          <dt>Oslo flight#</dt>
          <dd><%= @participant.osl_arrival_flight_number %> <%= @participant.osl_arrival_flight_number.blank? ? '' : (link_to 'Track flight', "https://flightaware.com/live/flight/#{@participant.osl_arrival_flight_number}", :target => '_blank') %></dd>
          <dt>Trondheim arrival</dt>
          <dd><%= @participant.trd_arrival_date %></dd>
          <dt>Trondheim flight#</dt>
          <dd><%= @participant.trd_arrival_flight_number %> <%= @participant.trd_arrival_flight_number.blank? ? '' : (link_to 'Track flight', "https://flightaware.com/live/flight/#{@participant.trd_arrival_flight_number}", :target => '_blank') %></dd>
          <dt>Train arrival</dt>
          <dd><%= @participant.train_arrival_datetime %></dd>
          <dt>Other arrival info</dt>
          <dd><%= @participant.other_arrival_information %></dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Train departure</dt>
          <dd><%= @participant.train_departure_datetime %></dd>
          <dt>Oslo departure</dt>
          <dd><%= @participant.osl_departure_date %></dd>
          <dt>Oslo flight#</dt>
          <dd><%= @participant.osl_departure_flight_number %> <%= @participant.osl_departure_flight_number.blank? ? '' : (link_to 'Track flight', "https://flightaware.com/live/flight/#{@participant.osl_departure_flight_number}", :target => '_blank') %></dd>
          <dt>Trondheim departure</dt>
          <dd><%= @participant.trd_departure_date %></dd>
          <dt>Trondheim flight#</dt>
          <dd><%= @participant.trd_departure_flight_number %> <%= @participant.trd_departure_flight_number.blank? ? '' : (link_to 'Track flight', "https://flightaware.com/live/flight/#{@participant.trd_departure_flight_number}", :target => '_blank') %></dd>
          <dt>Other departure info</dt>
          <dd><%= @participant.other_trondheim_departure_information %></dd>
          <dd><%= @participant.other_norway_departure_information %></dd>
        </dl>
      <dl class="dl-horizontal">
        <dt>Dietary law</dt>
        <dd><%= bool_to_friendly(@participant.user.profile.dietary_law) %></dd>
        <dt>Dietary preferences</dt>
        <dd><%= @participant.user.profile.other_diet_preferences %></dd>
        <dt>Animal allergy</dt>
        <dd><%= bool_to_friendly(@participant.user.profile.allergy_animals) %></dd>
        <dt>Gluten allergy</dt>
        <dd><%= bool_to_friendly(@participant.user.profile.allergy_gluten) %></dd>
        <dt>Lactose allergy</dt>
        <dd><%= bool_to_friendly(@participant.user.profile.allergy_lactose) %></dd>
        <dt>Nut allergy</dt>
        <dd><%= bool_to_friendly(@participant.user.profile.allergy_nuts) %></dd>
        <dt>Other allergies</dt>
        <dd><%= @participant.user.profile.other_allergies %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Smoker</dt>
        <dd><%= bool_to_friendly(@participant.user.profile.smoke) %></dd>
        <dt>Host gender pref</dt>
        <dd><%= gender_pref_to_friendly(@participant.user.profile.host_gender_preference) %></dd>
        <dt>Other host prefs</dt>
        <dd><%= @participant.user.profile.other_host_preferences %></dd>
      </dl>
    </div>
    <div class="col-md-6">
      <div class="col-md-6 col-md-offset-3 well">
      <dl>
        <dt>Checked in</dt>
        <dd class="<%= @participant.checked_in ? 'text-success' : 'text-danger' %>"><strong><%= bool_to_friendly(@participant.checked_in) %></strong></dd>
        <% if !@participant.checked_in %>
            <dd><%= link_to '<span class="glyphicon glyphicon-check" aria-hidden="true"></span> Check in'.html_safe, participant_check_in_path(:participant_id => @participant.id) , {:method => :put, :confirm => "Do you want to check in this participant?", :class => "btn btn-success"}%></dd>
        <% end %>
      </dl>
      <dl>
        <dt>Host</dt>
        <% if @participant.host.nil? %>
            <dd>None</dd><dd><%= link_to 'Match with host', participant_match_host_path(@participant.id),:class => "btn btn-success" %></dd>
        <% else %>
            <dd><%= link_to "#{@participant.host.firstname} #{@participant.host.lastname}",@participant.host %> <%=@participant.host_locked ?  '<small><span class="glyphicon glyphicon-lock" aria-hidden="true">Locked</span></small>'.html_safe : '' %></dd>
            <% if !@participant.host_locked %>
                <dd><%= link_to 'Unmatch', {:controller => 'participants',:action => 'unmatch', :participant_id => @participant.id} , {:method => :put, :confirm => "Do you want to unmatch this participant from the host?",:class => "btn btn-danger"} %></dd>
            <% end %>
        <% end %>
      </dl>
        <dl>
          <%= form_for [:internal_comments, @participant], url: participant_path do |f| %>
              <dt>Internal comments</dt>
              <dd id="int_com_disp"><%= @participant.internal_comments %></dd><a href="#" id="int_com_edit_button"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
              <%= f.text_area :internal_comments, :class => 'form-control hidden',:id => 'int_com_edit', :rows => '3', :value => @participant.internal_comments %>
              <%= f.submit 'Save comment', :class => 'btn btn-info hidden', :id => 'int_com_save' %>
              <% end %>
        </dl>
        <script>
            $('#int_com_edit_button').click( function() {
                $('#int_com_disp').addClass('hidden');
                $('#int_com_edit').removeClass('hidden');
                $('#int_com_save').removeClass('hidden');
                $('#int_com_edit_button').addClass('hidden');
                return false;
            } );
        </script>
      </div>
    </div>

  </div>

</article>