<% if current_user.id == @participant.user_id %>
  <% content_for :sidebar_right do %>
    <p class="info">Your public information can be seen by anyone that's logged in.</p>
    <p class="info">Private information can only be seen by you and the functionaries of ISFiT.</p>
  <% end %>
<% end %>
<h1><%= "#{@participant.first_name} #{@participant.last_name}"%></h1>
<h2>Public information</h2>
<p>
<b>Date of birth:</b>
<%= @participant.date_of_birth %>
</p>
<p>
<b>Field of study:</b>
<%= @participant.field_of_study %>
</p>
<% if current_user == @participant.user or current_user.has_role?(:admin, nil) or current_user.has_role?(:functionary,nil) %>
  <h2>Private information</h2>
  <p>
  <b>Email:</b>
  <%= @participant.email %>
  </p>

  <p>
  <b>Address1:</b>
  <%= @participant.address1 %>
  </p>

  <p>
  <b>Address2:</b>
  <%= @participant.address2 %>
  </p>

  <p>
  <b>Zipcode:</b>
  <%= @participant.zipcode %>
  </p>

  <p>
  <b>City:</b>
  <%= @participant.city %>
  </p>

  <p>
  <b>Country:</b>
  <%= @participant.country_id %>
  </p>

  <p>
  <b>Sex:</b>
  <%= @participant.sex %>
  </p>
  <p>
  <b>Workshop:</b>
  <%= @participant.workshop %>
  </p>
  <h3>Next of kin information</h3>
  <p>
  <b>Name:</b>
  <%= @participant.next_of_kin_name %>
  </p>
  <p>
  <b>Phone:</b>
  <%= @participant.next_of_kin_phone %>
  </p>
  <p>
  <b>Address:</b></p>
  <%= raw format(@participant.next_of_kin_address) %>
  <h3>Travel Information</h3>
  <p>
  <b>Flightnumber:</b>
  <%= @participant.flightnumber %>
  </p>
  <p>
  <b>Arrival place:</b>
  <%if @participant.arrival_place != nil%>
    <%= @participant.arrival_place.name %>
  <%end%>
  </p>
  <p>
  <b>Arrives at (time):</b>
  <%= @participant.arrives_at %>
  </p>
  <p>
  <b>Departs at (time):</b>
  <%= @participant.departs_at %>
  </p>
  <p>
  <b>Has passport in order?:</b>
  <%= @participant.has_passport == 1 ? "Yes":"No" %>
  </p>
  <p>
  <b>Applied for Visa?:</b>
  <%= @participant.applied_for_visa == 1 ? "Yes":"No" %>
  </p>
  <p>
  <b>Has Visa in order or don't need Visa?:</b>
  <%= @participant.visa == 1 ? "Yes":"No" %>
  </p>
  <p>
  <b>Needs transportation by ISFiT from Oslo to Trondheim:</b>
  <%= @participant.need_transport == 1 ? "Yes":"No" %>
  </p>
  <h3>ISFiT specific information</h3>
  <p>
  <b>Accepted invitation:</b>
  <%= @participant.accepted == 1 ? "Yes":"No" %>
  </p>
  <p>
  <b>Travel support amount:</b>
  <%= @participant.travel_support ? @participant.travel_support : "0" %> USD
  </p>
<% end %>
<% if current_user.has_role?(:admin, nil) %>
  <h2>Admin info</h2>
  <p>
  <b>User id:</b>
  <%= @participant.user_id %>
  </p>
  <p>
  <b>Primary role:</b>
  <%= @participant.user.roles.first.name %>
  </p>
<% end %>
<% content_for :sidebar_left do %>
  <% if current_user == @participant.user%>
  <h4><%= image_tag('icons/wrench.png')%> Tools</h4>
  <ul class="vlist">
    <li><%= link_to image_tag('icons/user_edit.png') +' Edit profile', edit_participant_path(@participant) %></li>
    <li><%= link_to image_tag('icons/page_white_acrobat.png') + ' Download invitationletter',  :controller=>:participants, :format => :pdf, :action=> :show, :id => @participant.id%></li>
    <% if @participant.travel_support > 0 %>
    <li><%= link_to image_tag('icons/page_white_acrobat.png') + ' Download travel support letter',  :controller=>:participants, :format => :pdf, :action=> :travel_support, :id => @participant.id%></li>
    <% end %>
  </ul>
  <%end%>
<% end %>
