<h1><%= "#{@participant.first_name} #{@participant.last_name}"%> <%= (@participant.guaranteed and not current_user.is_participant?) ? "(Guaranteed)":"" %> <%= (not @participant.active and not current_user.is_participant?) ? "(Inactive)":"" %> <%= (@participant.ignore and not current_user.is_participant?) ? "(Ignored)":"" %></h1>
<fieldset>
  <legend>Personal Information</legend>
  <table class="table table-condensed table-hover table-borderless">
    <tr>
      <td class="span5">Address</td>
      <td>
        <address>
          <%= @participant.address1 %><br />
          <%= @participant.zipcode %> <%= @participant.city %><br />
          <%= @participant.country.name %>
        </address>
      </td>
    </tr>
    <tr>
      <td>Email:</th>
      <td> <%= @participant.email %></td>
    </tr>
    <tr>
      <td>Country of citizenship:</th>
      <td> <%= Country.find_by_id(@participant.country_citizen_id).name %></td>
    </tr>
    <tr>
      <td>Nationality:</th>
      <td> <%= @participant.nationality %></td>
    </tr>
    <tr>
      <td>Birthdate:</td> 
      <td><%= @participant.date_of_birth %></td>
    </tr>
    <tr>
      <td>Sex:</td> 
      <td><%= @participant.sex == 1 ? "Male" : "Female"  %></td>
    </tr>
    <tr>
      <td>Field of study:</td> 
      <td><%= @participant.field_of_study %></td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend>Next of kin information</legend>
  <table class="table table-condensed table-hover table-borderless">
    <tr>
      <td class="span5">Name</td>
      <td><%= @participant.next_of_kin_name %></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><%= @participant.next_of_kin_phone %></td>
    </tr>
    <tr>
      <td>Address:</td>
      <td><%= raw format(@participant.next_of_kin_address) %></td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend>Food and allergies</legend>
  <% if current_user.is_participant? %>
    <table class="table table-condensed table-hover table-borderless">
      <tr>
        <td class="span5">Vegetarian</td> 
        <td><%= @participant.vegetarian ? "Yes":"No" %></td>
      </tr>
      <tr>
        <td>Halal food</td> 
        <td><%= @participant.halal ? "Yes":"No" %></td>
      </tr>
      <tr>
        <td>Lactose intolerant</td> 
        <td><%= @participant.allergy_lactose ? "Yes":"No" %></td>
      </tr>
      <tr>
        <td>Gluten intolerant</td> 
        <td><%= @participant.allergy_gluten ? "Yes":"No" %></td>
      </tr>
      <tr>
        <td>Allergic to nuts:</td> 
        <td><%= @participant.allergy_nuts ? "Yes":"No" %></td>
      </tr>
      <tr>
        <td>Other allergies</td> 
        <td><%= @participant.allergy_other %></td>
      </tr>
    </table>
  <% else %>
    <p>
      Information is hidden due to privacy.
    </p>
  <% end %>
</fieldset>

<fieldset>
  <legend>Host Information</legend>
  <table class="table table-condensed table-hover table-borderless">
    <tr>
      <td class="span5">Prefer non-smoking</td>
      <td><%= @participant.smoke ? "Yes" : "No" %></td>
    </tr>
    <% if current_user.is_participant? %>
      <tr>
        <td>Handicap:</td>
        <td><%= @participant.handicap %></td>
      </tr>
    <% end %>
  </table>
</fieldset>

<fieldset>
  <legend>Travel Information</legend>
  <table class="table table-condensed table-hover table-borderless">
    <% if DeadlinesUser.where("deadline_id = 8 and user_id = ?", @participant.user.id).count > 0 %>
      <tr>
        <td class="span5">Flightnumber</td>
        <td><%= @participant.flightnumber %></td>
      </tr>
      <tr>
        <td>Arrival place:</td>
        <%if @participant.arrival_place != nil%>
          <td><%= @participant.arrival_place.name %></td>
        <%end%>
      </tr>
      <tr>
        <td>Arrives at (time):</td>
        <td><%= @participant.arrives_at %></td>
      </tr>
      <tr>
        <td>Departs at (time):</td>
        <td><%= @participant.departs_at %></td>
      </tr>
    <% end %>
    <% if DeadlinesUser.where("deadline_id = 7 and user_id = ?", @participant.user.id).count > 0 %>
      <tr>
        <td class="span5">Needs transportation by ISFiT from Oslo to Trondheim:</td>
        <% if @participant.need_transport == 3 %>
          <td>Oslo-Trondheim-Oslo</td>
        <% elsif @participant.need_transport == 2 %>
          <td>Oslo-Trondheim</td>
        <% elsif @participant.need_transport == 1 %>
          <td>Trondheim-Oslo</td>
        <% else %>
          <td>No</td>
        <% end %>
      </tr>
    <% end %>
  </table>
</fieldset>

<fieldset>
  <legend>ISFiT specific information</legend>
  <table class="table table-condensed table-hover table-borderless">
    <tr>
      <% if not Workshop.find_by_id(@participant.workshop_id).nil? %>
        <td class="span5">Workshop:</td> 
        <td><%= @participant.workshop.name %></td>
      <% elsif @participant.dialogue %>
        <td class="span5">Workshop:</td>
        <td>Dialogue</td>
      <% else %>
        <td class="span5">Workshop:</td>
        <td>Waitinglist</td>
      <% end %>
    </tr>
    <tr>
      <td>Travel support amount:</td>
      <td><%= @participant.travel_support ? @participant.travel_support : "0" %> USD</td>
    </tr>
    <% if not @participant.checked_in.nil? %>
      <tr>
        <td>Checked in:</td>
        <td><%= @participant.checked_in %></td>
      </tr>
    <% end %>
    <% if not @participant.checked_out.nil? %>
      <tr>
        <td>Checked out:</td>
        <td><%= @participant.checked_out %></td>
      </tr>
    <% end %>
    <% if not @participant.host.nil? %>
      <tr>
        <td>Host:</td>
        <td><%= @participant.host.nil? ? "Not matched" : (link_to @participant.host.first_name + " " + @participant.host.last_name, host_path(@participant.host)) %></td>
      </tr>
    <% end %>
    <tr>
      <td>I agree to be contacted by media:</td>
      <td><%= @participant.media_consent ? "Yes" : "No" %></td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend>Deadline answers</legend>
  <table class="table table-condensed table-hover table-borderless">
    <% if @participant.invited %>
      <tr>
        <% if DeadlinesUser.where("deadline_id = 1 AND user_id = ?", @participant.user.id).count > 0 %>
          <td class="span5">Accepted invitation</td>
          <td><%= @participant.accepted == 1 ? "Yes" : "No" %></td>
        <% end %>
      </tr>
      <tr>
        <% if DeadlinesUser.where("deadline_id = 2 AND user_id = ?", @participant.user.id).count > 0 %>
          <td>Applied for Visa?:</td>
          <% if @participant.applied_for_visa == 1 %>
            <td>Yes</td>
          <% elsif @participant.applied_for_visa == 0 %>
            <td>No</td>
          <% else %>
            <td>Do not need</td>
          <% end %>
        <% end %>
      </tr>
      <tr>
        <% if DeadlinesUser.where("deadline_id = 3 AND user_id = ?", @participant.user.id).count > 0 %>
          <td>Give ISFiT permission to use my contact information:</td>
          <td><%= @participant.embassy_confirmation == 1 ? "Yes" : "No" %></td>
        <% end %>
      </tr>
      <tr>
        <% if DeadlinesUser.where("deadline_id = 4 AND user_id = ?", @participant.user.id).count > 0 %>
          <td>Has passport in order?:</td>
          <td><%= @participant.has_passport == 1 ? "Yes" : "No" %></td>
        <% end %>
      </tr>
      <tr>
        <% if DeadlinesUser.where("deadline_id = 6 AND user_id = ?", @participant.user.id).count > 0 and @participant.applied_for_visa == 1 %>
          <td>Has Visa in order or don't need Visa?:</td>
          <td><%= (@participant.visa == 1 or @participant.applied_for_visa == -1) ? "Yes" : "No" %></td>
        <% end %>
      </tr>
      <tr>
        <% if DeadlinesUser.where("deadline_id = 9 AND user_id = ?", @participant.user.id).count > 0 %>
          <td>Confirmed participation:</td>
          <td><%= @participant.confirmed_participation ? "Yes" : "No" %></td>
        <% end %>
      </tr>
    <% else %>
      <tr>
        <% if not @participant.agree_waiting_list.nil? %>
          <td class="span5">Agree waiting list</td>
          <td><%= @participant.agree_waiting_list ? "Yes" : "No" %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</fieldset>


<% if current_user.has_role?(:admin) %>
<fieldset>
  <legend>Admin info</legend>
  <div class="well well-small">
    <p>
      <b>Belongs to the following functionaries</b>
      <ul>
        <% @participant.functionaries.each do |f| %>
          <li><%= link_to f.user.name, f %></li>
        <% end %>
      </ul>
    </p>
    <p>
      <b>User id:</b>
      <%= @participant.user_id %>
    </p>
    <p>
      <b>Secure?:</b>
      <%= @participant.guaranteed ? "Yes":"No" %>
  </p>
  </div>
</fieldset>
<% end %>

<%= render 'menu' %>

