<%= render 'menu' %>

<h1>Deadlines</h1>
<p>
Below is an overview of the deadlines for your participants.
</p>

<table class="table table-bordered"
  <thead>
    <tr>
      <th>Name</th>
      <th>#1</th>
      <th>#2</th>
      <th>#3</th>
      <th>#4</th>
      <th>#5</th>
      <th>#6</th>
      <th>#7</th>
      <th>#8</th>
      <th>#9</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @participants.each do |participant| %>
      <tr>
        <td><%= "#{participant.last_name}, #{participant.first_name}" %></td>
        <% d = DeadlinesUser.where("user_id = ?", participant.user.id) %>
        <%= validate_table_cell(d, 1) %>
        <%= validate_table_cell(d, 2) %>
        <%= validate_table_cell(d, 3) %>
        <%= validate_table_cell(d, 4) %>
        <%= validate_table_cell(d, 5) %>
        <%= validate_table_cell(d, 6) %>
        <%= validate_table_cell(d, 7) %>
        <%= validate_table_cell(d, 8) %>
        <%= validate_table_cell(d, 9) %>
        <td><%= link_to 'Check', check_deadline_participant_path(participant), :class => "btn btn-primary" %></td>
        <td><%= link_to 'Show', participant_path(participant), :class => "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
