<%= form_for(@deadline, :html => { :class => "yform full"}) do |f| %>
  <% if @deadline.errors.any? %>
    <div class="warning" id="error_explanation">
      <ul>
        <% @deadline.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>                                    
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <div class="type-text">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="type-text">
      <%= f.label :deadline %><br />
      <%= f.text_field :deadline %>
    </div>
    <div class="type-button">
      <%= f.submit :class => "submit" %>
    </div>
  </fieldset>
<% end %>
