<h2>Profile</h2>

<%= form_for(@user) do |f| %>
    <% if @user.errors.full_messages.any? %>
        <div class="bg-danger info-box">
          <h2><%= pluralize(@user.errors.full_messages.count, 'error') %> prevents you from updating your profile</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, placeholder: 'First name', :autofocus => true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, placeholder: 'Last name', class: 'form-control' %>
    </div>

    <% if @user.profile %>
      <%= f.fields_for :profile do |p| %>
        <div class="form-group">
          <%= p.label :date_of_birth %><br>
          <%= p.date_select :date_of_birth, start_year: 1974, end_year: 1998 %>
        </div>

        <div class="checkbox">
          <strong>Gender</strong>

          <p>
            <label><%= p.radio_button :gender, 0 %> Male</label><br>
            <label><%= p.radio_button :gender, 1 %> Female</label><br>
            <label><%= p.radio_button :gender, 2 %> Other</label>
          </p>
        </div>

        <div class="form-group">
          <%= p.label :nationality_id %>
          <%= p.text_field :nationality, placeholder: 'Your nationality', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= p.label :citizenship_id %><br>
          <%= p.collection_select :citizenship_id, Country.all, :id, :name, {include_blank: true}, {class: 'form-control'} %>
        </div>

        <h2>Education information</h2>

        <div class="form-group">
          <%= p.label :school, 'University' %>
          <%= p.text_field :school, placeholder: 'Your university', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= p.label :field_of_study %>
          <%= p.text_field :field_of_study, placeholder: 'Your field of study', class: 'form-control' %>
        </div>
      <% end %>
    <% end %>

    <h2>Contact information</h2>

    <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, placeholder: 'Your e-mail', class: 'form-control' %>
    </div>

    <% if @user.profile %>
        <%= f.fields_for :profile do |p| %>
            <div class="form-group">
              <%= p.label :address %>
              <%= p.text_field :address, placeholder: 'Your address', class: 'form-control' %>
            </div>

            <div class="form-group" style="float: left; width: 150px;">
              <%= p.label :postal_code %>
              <%= p.text_field :postal_code, placeholder: 'Your postal code', class: 'form-control', style: 'border-bottom-right-radius: 0; border-top-right-radius: 0;' %>
            </div>

            <div class="form-group" style="margin-left: 150px">
              <%= p.label :city %>
              <%= p.text_field :city, placeholder: 'Your city', class: 'form-control', style: 'border-bottom-left-radius: 0; border-top-left-radius: 0; border-left-width: 0;' %>
            </div>

            <div class="form-group">
              <%= p.label :country_id %><br>
              <%= p.collection_select :country_id, Country.all, :id, :name, {include_blank: true}, {class: 'form-control'} %>
            </div>

            <div class="form-group">
              <div>
                <%= p.label :phone, 'Phone number' %>
              </div>

              <div class="input-group" style="float: left; width: 120px;">
                <span class="input-group-addon">+</span>
                <%= p.text_field :calling_code, placeholder: 'Dial code', class: 'form-control', style: 'border-bottom-right-radius: 0; border-top-right-radius: 0;' %>
              </div>

              <div style="margin-left: 120px">
                <%= p.text_field :phone, placeholder: 'Your phone number', class: 'form-control', style: 'border-bottom-left-radius: 0; border-top-left-radius: 0; border-left-width: 0;' %>
              </div>
            </div>


            <h2>Application</h2>

            <p>Write an essay (max 250 words) about yourself, your experiences and interests. Tell us about your studies and your motivation for participating in ISFiT 2015. How will you use your experience from ISFiT 2015? Have you participated in similar festivals before? Are you a member of a student organization? If yes, please specify.</p>

            <div class="form-group">
                <%= p.label :motivation_essay %><br>
                <%= p.text_area :motivation_essay, rows: 12, class: 'form-control' %>
            </div>
        <% end %>
    <% end %>

    <div class="form-group">
      <%= f.submit 'Update profile', class: 'btn btn-success'%>
    </div>
<% end %>