<!-- functionary view -->
<div id="important_articles" class="important_articles">
  <%= render @important_articles %>
</div>
<div id="articles" class="articles">
  <%= render @articles %>
</div>

<div>
  There are <%=pluralize(@lastten.size, "unanswered question")%>
  <table>
    <tr>
      <th>
        Subject
      </th>
      <th>
        Asked by
      </th>
      <th>
        Date
      </th>
      <th>
      </th>
      <th>
      </th>
    </tr>
    <%  @lastten.each do |x| %>
      <tr>
        <td>
          <%= x.subject %>
        </td>
        <td>
          <%= x.participant.user.email %>
        </td>
        <td>
          <%= x.created_at %>
        </td>
        <td>
          <% if x.dialogue == 1 %>
            Dialogue
          <% end %>
        </td>
        <td>
          <%= link_to 'Show', x %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
