<!-- functionary view -->
<div id="important_articles" class="important_articles">
  <%= render @important_articles %>
</div>
<div id="articles" class="articles">
  <%= render @articles %>
</div>

<div style="float:left">
  There are <%= Question.count(:conditions=>"questions.id NOT IN (SELECT DISTINCT question_id FROM answers)")%> unanswered questions
  <table>
    <tr>
      <th>
        Subject
      </th>
      <th>
        Asked by
      </th>
      <th>
        Date
      </th>
      <th>
      </th>
      <th>
      </th>
    </tr>
    <%  @lastten.each do |x| %>
      <tr>
        <td>
          <%= x.subject %>
        </td>
        <td>
          <%= x.participant.user.email %>
        </td>
        <td>
          <%= x.created_at %>
        </td>
        <td>
          <% if x.dialogue %>
            Dialogue
          <% end %>
        </td>
        <td>
          <%= link_to 'Show', x %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
