<!-- Participant view -->
<div class="well">
  <div id="important_articles" class="important_articles">
    <%= render @important_articles %>
  </div>
  <div id="articles" class="articles">
    <%= render @articles %>
  </div>
</div>

<% content_for :sidebar_left do %>
  <% if @deadlines %>
    <ul class="nav nav-list well">
    <li class="nav-header">Deadlines</li>
      <% @deadlines.each do |d| %>
        <%if d.users.include?(current_user)%>
          <li><%= image_tag('icons/accept.png') %> <del><%=d.name%></del></li>
        <%else%>
          <%if d.deadline < Time.now%>
            <li><%= image_tag('icons/clock_red.png')%> <%=d.name%> - <%=d.deadline.to_formatted_s(:long)%></li>
          <%else%>
            <li><%= image_tag('icons/clock.png')%> <%=d.name%> - in <%=time_ago_in_words(d.deadline)%>(<%= d.deadline%>)</li>
          <%end%>
        <%end%>
      <%end%>
    </ul>
  <%end%>
<% end %>
