<% content_for :sidebar_left do %>
  <ul class="nav well nav-list">
    <li class="nav-header">Admin shortcuts</li>
    <li><%=link_to image_tag('icons/page_white_add.png')  + " Write article", new_article_path %></li>
    <li><%=link_to image_tag('icons/report_add.png') + " Write Information page", new_information_page_path %></li>
  </ul>
<br>
<% end %>
<% content_for :sidebar_right do  %>
  <div class="well">
    <h4>Quick overview</h4>
    <% if Participant.count > 0 %>
    <p>
      <b>Participants in system:</b> <%= Participant.count %><br>
      <b>Participants accepted:</b> <%= Participant.where(:accepted => 1).count %><br>
      <b>Participants in need of transportation:</b> <%= Participant.where(:need_transport => "1").count %><br>
      <b>Participants with Visa:</b> <%= Participant.where(:visa => 1).count %><br>
      <b>Participants with passport:</b> <%= Participant.where(:has_passport => 1).count %><br>
    </p>
    <% else %>
      <b>Applications in system:</b> <%= Application.count %><br>
      <b>Applications deleted:</b> <%= Application.where("deleted = 1").count %><br>
      <b>Applications graded 1st round:</b> <%= Application.where("grade1 > 0").count %><br>
      <b>Applications graded 2nd round:</b> <%= Application.where("grade2 > 0").count %><br>
      <b>Applications accepted:</b> <%= Application.where("status = 1").count %><br>
      <b>Applications on waiting list:</b> <%= Application.where("status = 3").count %><br>
    <% end %>
</div>
<% end %>
<!-- Admin view -->
<div id="important_articles" class="important_articles">
  <%= render @important_articles %>
</div>
<div id="articles" class="articles">
  <%= render @articles %>
</div>
