<div class="pull-right">
  <%= link_to 'Back', question_path(@answer.question), :class => "btn" %>
</div>

<h1>Edit question</h1>

<% content_for :sidebar_left do %>
	<ul class="nav nav-list well">
    <li class="nav-header">Menu</li>
	</ul>
<% end %>


<%= simple_form_for(@answer) do |f| %>
	<%= f.error_notification %>

  <div class="field">
    <%= f.input :content, input_html: { rows: 10, :class => "span5" } %>
  </div>
  <div class="actions">
    <%= f.button :submit, :class => "btn btn-primary" %>
  </div>
<% end %>
