<h1>Dialogues</h1>
<%= form_tag '', method: :get do |f| %>
    <div class="form-group">
      <%= collection_select(:country, :country_id, Country.all, :id, :name, {:prompt => 'Please select country (Optional)', :selected => selected_country},{  :class => 'form-control'}) %>
    </div>

    <div class="form-group">
      <%= text_field_tag :name, params[:name], {placeholder: 'Please enter applicant name (Optional)', class: 'form-control'} %>
    </div>

    <div class="form-group">
      <%= submit_tag 'Filter', class: 'btn btn-primary' %> <%= link_to 'Clear', dialogue_applications_path, class: 'btn btn-info' %>
    </div>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th>Full name</th>
      <th>Citizenship</th>
      <th>Late recruit</th>
    </tr>
  </thead>

  <% @dialogue_applications.each do |dialogue_application| %>
    <tr>
      <td><%= link_to dialogue_application.user.full_name, dialogue_application %></td>
      <td><%= dialogue_application.profile.citizenship.name %></td>
      <td><%= isLateApplicant(dialogue_application) %></td>
    </tr>
  <%end%>
  
  <% if @dialogue_applications.empty? %>
    <tr>
      <td colspan="2">Dialogue application is empty</td>
    </tr>
  <% end %>
</table>

<%= will_paginate(@dialogue_applications, renderer: BootstrapPagination::Rails) %>