<%  roles = Array.new
    Role.all.each do |r|
      roles.push(r.name)
    end
    selectedroles = Array.new
    @user.roles.each do |r|
      selectedroles.push(r.name)
    end
%>
<%= form_for(@user,:url => role_path, :html => {:class => "yform columnar", :multipart => true } ) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="warning">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this participant from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="type-text">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="type-text">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>
  <%= f.file_field :avatar %>
  <% if current_user.has_role?(:admin) %>
  <div class="type-text">
    <%= f.label :roles %>
    <%= select_tag(:role, options_for_select(roles, selectedroles), {:multiple => true, :size => Role.all.size} )%>
  </div>
  <% end %>
  <div class="type-button">
    <%= f.submit :class => "submit" %>
  </div>
<% end %>
