<h1>Listing all Users</h1>

<table class="full">
  <tr>
    <th>Email</th>
    <th>Last signed in</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%if user.last_sign_in_at %><%= user.last_sign_in_at %><%else%>Never signed in<%end%></td>
    <td><%= link_to 'Show', role_path(user) %></td>
    <td><%= link_to 'Edit', edit_role_path(user) %></td>
    <td><%= link_to 'Impersonate', impersonate_role_path(user) %></td>
  </tr>
<% end %>
</table>
<%=will_paginate @users%>
