<%= render 'menu' %>

<div class="well">
  <table class="table table-bordered table-striped">
    <tr>
      <th><%= sortable "first_name", "First name" %></th>
      <th><%= sortable "last_name", "Last name" %></th>
      <th></th>
      <% if can? :update, @functionaries %>
      <th></th>
      <% end %>
      <% if can? :manage, Functionary %>
        <th></th>
      <% end %>
    </tr>

    <% @functionaries.each do |functionary| %>
      <tr>
        <td><%= functionary.first_name %></td>
        <td><%= functionary.last_name %></td>
        <td><%= link_to 'Show', functionary, :class => "btn btn-primary" %></td>
        <% if can? :update, @functionaries %>
          <td><%= link_to 'Edit', edit_functionary_path(functionary), :class => "btn" %></td>
        <% end %>
        <% if can? :manage, Functionary %>
          <td><%= link_to 'Impersonate', impersonate_functionary_path(functionary), :class => "btn" %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
