<%= render 'menu' %>

<div class="well">
  <table class="table table-bordered table-striped">
    <tr>
      <th><%= sortable "first_name", "First name" %></th>
      <th><%= sortable "last_name", "Last name" %></th>
      <th></th>
      <th></th>
    </tr>

    <% @functionaries.each do |functionary| %>
      <tr>
        <td><%= functionary.first_name %></td>
        <td><%= functionary.last_name %></td>
        <td><%= link_to 'Show', functionary, :class => "btn btn-primary" %></td>
        <td><% if can? :update, @functionaries %><%= link_to 'Edit', edit_functionary_path(functionary), :class => "btn" %><%end%></td>
      </tr>
    <% end %>
  </table>
</div>
