<%= render 'menu' %>

<h1>Create new functionary</h1>

<%= simple_form_for @functionary do |f| %>

  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>

  <%= f.submit %>
<% end %>
