<% render 'hosts/match/host/sidebar' %>
<% content_for :breadcrumbs do %>
    <li><%= link_to 'Dashboard', dashboard_path %></li>
    <li><%= link_to 'Hosts',hosts_path %></li>
    <li><%= link_to 'Host matching', host_matching_path %></li>
    <li class="active">Select host</li>
<% end %>
<h2>Select host</h2>
<table id="hosts" class="table">
  <tr>
    <th>Full name</th>
    <th>Gender preference</th>
    <th>Student</th>
    <th>Has animals</th>
    <th>Sleeping arrangements</th>
    <th>Can host extra day</th>
    <th>Available spaces</th>
    <th>Has been host before</th>
    <th>Show details</th>
  </tr>

  <% @hosts.each do |a| %>
      <tr>
        <td><%= link_to a.firstname + ' ' + a.lastname, {:controller => 'participants',:action => 'apply_match', :host_id => a.id, :participant_id => @participant.id} , {:method => :put, :confirm => "Do you want to match the current participant with this host?"} %></td>
        <td><%= gender_pref_to_friendly(a.sex) %></td>
        <td><%= bool_to_friendly(a.isstudent) %></td>
        <td><%= bool_to_friendly(a.animales) %></td>
        <td><%= sleeping_to_friendly(a.sleeping) %></td>
        <td><%= bool_to_friendly(a.extraday) %></td>
        <td><%= a.get_free_beds %></td>
        <td><%= bool_to_friendly(a.beenhost) %></td>
        <td><%= link_to 'Details', a %></td>
      </tr>
  <% end %>
</table>

<%= will_paginate(@hosts, renderer: BootstrapPagination::Rails) %>
