<h1>Control panel</h1>

<%= simple_form_for(@cp, :html => { :class => "form" }) do |f| %>

  <h3>Applications</h3>
  <p>
    Options for applications.
  </p>
  <%= f.input :app_grade1, :as => :boolean, :label => "1st round of grading open" %>
  <%= f.input :app_grade2, :as => :boolean, :label => "2nd round of grading open" %>
  <%= f.input :app_grade3, :as => :boolean, :label => "3rd round of grading open" %>
 

  <%= f.button :submit, :class => "btn-primary" %>
<% end %>
