<% content_for :sidebar_left do %>
  <%= form_tag '', method: :get do |f| %>
    <div class="form-group">
      <%= select_tag 'role', options_for_select(User.roles, selected: params[:role]), {:prompt => 'Please select role',  class: 'form-control'} %>
    </div>
  
    <div class="form-group">
      <%= text_field_tag :search, params[:search], {placeholder: 'Who are you looking for?', class: 'form-control'} %>
    </div>
  
    <div class="form-group">
      <%= submit_tag 'Search', class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>

<div class="pull-right">
  <%= link_to 'New user', new_admin_user_path, :class => "btn btn-primary"%>
</div>

<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>E-mail</th>
      <th>Role</th>
    </tr>
  </thead>

  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.first_name, [:admin, user] %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.role.titleize %></td>
    </tr>
    <% end %>
  </table>

  <%= will_paginate(@users, renderer: BootstrapPagination::Rails) %>
