<div class="pull-right">
<%= link_to 'Back', admin_users_path, confirm: 'This will cancel all changes. Are you sure?', method: :get, :class => "btn btn-default"  %>
</div>
<h1>New user</h1>

<%= simple_form_for([:admin, @user]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :email_confirmation %>
    <%= f.input :role %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  </div>

  <%= f.button :submit %>
<% end %>